{% from "head.Jinja" import head %}
{% from "scripts.Jinja" import scripts %}
{% from "navbar.Jinja" import navbar %}
{% from "footer.Jinja" import footer %}
{% from "pageTitle.Jinja" import pageTitle %}

<!DOCTYPE html>
<html lang="en">
	{{ head(title="About", meta="Jackie Keffas is a designer and photographer based in NYC") }}

	<body>
    {{ navbar(about="active") }}
        
		<main class="min-vh-100">
			<div class="row mb-3 justify-content-center align-items-xl-center">
		    <div class="col-10 col-sm-8 col-md-5 col-xl-4 order-md-last mb-5 mb-md-0">
		      <img class="img-fluid rounded" src="../static/images/jackie.jpg" alt="Headshot of Jackie">
		    </div>
				
		    <div class="col-md col-lg-5 col-xl-6">
					{{ pageTitle(pageHeader="Hi, I’m Jackie", pageSubheader="About me", margin="") }}
		    	<p>I got my start studying photography and video production at Northeastern University, where I earned my BFA in Digital Art with a minor in Film Production.</p>
		    	<p>I currently work as a Marketing Designer at <a href="https://khealth.com/" target="_blank">K Health</a>, and, before that, spent years as a designer and developer for Pretty Instant, working with clients such as Disney, Porsche, and LinkedIn.</p>
		      <p>When I’m not moving pixels around, you can usually find me behind a camera, watching teen dramas from the 2000s, or remaining undefeated in bar trivia.</p>
		      <p>I'm always looking for new opportunities, so <a href="mailto:jkeffas@gmail.com" target="_blank">let's chat</a>!</p>
		    </div>
		  </div>
		</main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>