{% macro card(projectData) %}
	<div class="card">
		<img src="{{ projectData.cardImage }}" class="card-img-top" alt="{{ projectData.cardImageAltText }}">
		<div class="card-body">
			<a href="/projects/{{ projectData.slug }}" class="stretched-link">
				<h4 class="card-text">
					{{ projectData.company }}
				</h4>
				<h2 class="card-title">{{ projectData.title }}</h2>
			</a>
		</div>
	</div>
{% endmacro %}