{% macro card() %}
<div class="card">
    <img src="../static/images/home/prettyinstant/website.jpg" class="card-img-top" alt="Pretty Instant website">
    <div class="card-body">
    <a href="" class="stretched-link"><h2 class="card-title">Website redesign</h2></a>
    <div class="d-flex">
        <p class="card-subtitle">Web design + development</p>
        <div class="flex-grow-1 align-self-center">
            <hr>
            </div>
            <h4 class="card-text">Pretty Instant</h4>
        </div>
    </div>
</div>
{% endmacro %}