{% macro head() %}
  <head>
		<!-- BASIC -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Jackie Keffas * Designer &amp; Photographer</title>
		<meta name="description" content="Jackie Keffas is a designer and photographer based in NYC">

		<!-- FAVICON-->
		<link rel="icon" type="image/png" href="../static/images/favicon.png">

		<!-- FONTS -->
		<style>
				@import url('https://fonts.googleapis.com/css2?family=Forum&family=Work+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
		</style>
		<script src="https://kit.fontawesome.com/b3fb28131c.js" crossorigin="anonymous"></script>

		<!-- CSS -->
		<link rel="stylesheet" href="../static/css/style.css">

		<!-- JS -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
  </head>
{% endmacro %}