{% macro pageTitle(pageHeader="", pageSubheader="", margin="mb-0") %}
  <div class="subheader">
    <div class="d-flex">
      <h4>{{ pageSubheader }}</h4>
      <div class="flex-grow-1 align-self-center">
        <hr>
      </div>
    </div>
    <h1 class="{{ margin }}">{{ pageHeader }}<img class="stars" src="../static/images/stars.svg" alt="Three stars"></h1>
  </div>  
{% endmacro %}