{% macro projectOverview(projectData) %}
  <div class="project-overview sidebar">
    <div class="row">
      <div class="sidebar-item">
        <h4>Role</h4>
        <p class="small">{{ projectData.role }}</p>
      </div>
      <div class="sidebar-item">
        <h4>Stakeholders</h4>
        <p class="small">{{ projectData.stakeholders }}</p>
      </div>
    </div>
    <div class="row">
      <div class="sidebar-item">
        <h4>Tools</h4>
        <p class="small">{{ projectData.tools }}</p>
      </div>
      <div class="sidebar-item">
        <h4>Skills</h4>
        <p class="small">{{ projectData.skills }}</p>
      </div>
    </div>
    <!-- <p><span class="badge rounded-pill bg-purple me-2">UI/UX</span><span class="badge rounded-pill bg-blue me-2">Brand</span><span class="badge rounded-pill bg-orange">Marketing</span></p> -->
  </div>
{% endmacro %}