@import "bootstrap/bootstrap";



// Typography
// Headings
h1, .h1 {
	font-size: $h1-font-size * .6875;

	@include media-breakpoint-up(md) {
		font-size: $h1-font-size * .875;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size;
	}
}

h2, .h2 {
	font-size: $h2-font-size * .83;

	@include media-breakpoint-up(md) {
		font-size: $h2-font-size * .916;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h2-font-size;
	}
}

h3, .h3 {
	font-size: $h3-font-size * .72;

	@include media-breakpoint-up(md) {
		font-size: $h3-font-size * .81;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h3-font-size;
	}
}

h4, .h4 {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-weight: $font-weight-semibold;
	line-height: $line-height-base;
}

.stars {
	vertical-align: baseline;

	width: 20px;
	@include media-breakpoint-up(md) {
		width: 24px;
	}
	@include media-breakpoint-up(xl) {
		width: 32px;
	}
}

.stars-header {
	margin-left: $spacer * 0.5;

	@include media-breakpoint-up(xl) {
		margin-left: $spacer * 0.75;
	}
}

.star {
	width: 10px;
	margin-left: $spacer * .5;
	margin-right: $spacer * .5;
}

.subheader {
	display: inline-block;

	h1 {
	}

	h4 {
		margin-bottom: 0;
	}

	hr {
		margin-left: $spacer * .75;
		margin-right: $spacer * 1.25;

		@include media-breakpoint-up(md) {
			margin-right: $spacer * 1.5;
		}
		@include media-breakpoint-up(xl) {
			margin-left: $spacer;
			margin-right: $spacer * 2;
		}
	}
}



// Grid
.container-fluid {
	@include make-container(3.5rem);
}
.min-vh-100 {
	min-height: calc(100vh - 141px) !important;
}



// Nav
.navbar {
	backdrop-filter: blur(16px);
	background-color: rgba($white, .8);

	.nav-link {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-collapse {
		flex-grow: 0;
	}

	img.nav-item {
		width: 10px;
		margin-left: $spacer;
		margin-right: $spacer;
	}

	.logo {
		width: 38px;
		@include transition($transition-base);

		path {
			fill: $black;
		}
	}

	a.navbar-brand {
		&:hover {
			.logo {
				path {
					fill: $navbar-light-hover-color;
				}
			}
		}
	}
}



// Links
a {
	@include transition($transition-base);
}



p:last-child {
	margin-bottom: 0;
}



// Body
main {
	margin-top: $spacer * 4.75;

	.card {
		@include transition($transition-base);
		padding: $card-spacer-y $card-spacer-x;

		a {
			color: $black;
			text-decoration: none;
		}

		.card-body {
			font-size: $font-size-xs;
			padding: $card-spacer-y 0 0;

			.card-title {
				margin-top: $card-title-spacer-y;
				margin-bottom: 0;
			}

			.card-subtitle {
				margin: 0;
			}

			.stars {
				@include transition($transition-base);
				opacity: 0%;
			}
		}

		&:hover {
			border-color: $pink-200;
			
			.stars {
				opacity: 100%;
			}
		}
	}

	.project-header {
		background-color: $pink-100;
	}

	.project-image {
		margin: $spacer 0;
		padding: 0 $spacer;
		max-height: 336px;
	}

	.bg-pink {
		background-color: $pink-100;

		&.badge {
			border: 1px solid $pink-200;
		}
	}

	.bg-purple {
		background-color: $purple-100;

		&.badge {
			border: 1px solid $purple-200;
		}
	}

	.bg-blue {
		background-color: $blue-100;

		&.badge {
			border: 1px solid $blue-200;
		}
	}

	.bg-orange {
		background-color: $orange-100;

		&.badge {
			border: 1px solid $orange-200;
		}
	}

	.bg-green {
		background-color: $green-100;

		&.badge {
			border: 1px solid $green-200;
		}
	}
}



// Footer
footer {
	font-size: $font-size-xs;

	margin-top: $spacer * 1.5;
	margin-bottom: $spacer * 1.5;
	
	a {
		color: $black;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}

	@include media-breakpoint-up(sm) {
		ul {
			margin-bottom: 0px;
		}
	}
}





#color {
	figure {
		margin-bottom: 0;
		& text{
			fill: $white;
		}
	}
	.gray {
		figure {
			&:nth-child(-n+6) text{
				fill: $black;
			}
		}
		figure:nth-child(2) svg {
			border: 1px solid $gray-200;
			rect {
				fill: $white;
			}
		}
		figure:nth-child(3) svg rect {
			fill: $gray-100;
		}
		figure:nth-child(4) svg rect {
			fill: $gray-200;
		}
		figure:nth-child(5) svg rect {
			fill: $gray-300;
		}
		figure:nth-child(6) svg rect {
			fill: $gray-400;
		}
		figure:nth-child(7) svg rect {
			fill: $gray-500;
		}
		figure:nth-child(8) svg rect {
			fill: $gray-600;
		}
		figure:nth-child(9) svg rect {
			fill: $gray-700;
		}
		figure:nth-child(10) svg rect {
			fill: $gray-800;
		}
		figure:nth-child(11) svg rect {
			fill: $gray-900;
		}
		figure:nth-child(12) svg rect {
			fill: $black;
		}
	}
	.capricorn {
		figure {
			&:nth-child(-n+5) text{
				fill: $black;
			}
		}
		figure:nth-child(2) svg {
			border: 1px solid $pink-200;
			rect {
				fill: $pink-100;
			}
		}
		figure:nth-child(3) svg rect {
			fill: $pink-200;
		}
		figure:nth-child(4) svg rect {
			fill: $pink-300;
		}
		figure:nth-child(5) svg rect {
			fill: $pink-400;
		}
		figure:nth-child(6) svg rect {
			fill: $pink-500;
		}
		figure:nth-child(7) svg rect {
			fill: $pink-600;
		}
		figure:nth-child(8) svg rect {
			fill: $pink-700;
		}
		figure:nth-child(9) svg rect {
			fill: $pink-800;
		}
		figure:nth-child(10) svg rect {
			fill: $pink-900;
		}
	}
	.aquarius {
		figure {
			&:nth-child(-n+5) text{
				fill: $black;
			}
		}
		figure:nth-child(2) svg {
			border: 1px solid $purple-200;
			rect {
				fill: $purple-100;
			}
		}
		figure:nth-child(3) svg rect {
			fill: $purple-200;
		}
		figure:nth-child(4) svg rect {
			fill: $purple-300;
		}
		figure:nth-child(5) svg rect {
			fill: $purple-400;
		}
		figure:nth-child(6) svg rect {
			fill: $purple-500;
		}
		figure:nth-child(7) svg rect {
			fill: $purple-600;
		}
		figure:nth-child(8) svg rect {
			fill: $purple-700;
		}
		figure:nth-child(9) svg rect {
			fill: $purple-800;
		}
		figure:nth-child(10) svg rect {
			fill: $purple-900;
		}
	}
	.virgo {
		figure {
			&:nth-child(-n+6) text{
				fill: $black;
			}
		}
		figure:nth-child(2) svg {
			border: 1px solid $blue-200;
			rect {
				fill: $blue-100;
			}
		}
		figure:nth-child(3) svg rect {
			fill: $blue-200;
		}
		figure:nth-child(4) svg rect {
			fill: $blue-300;
		}
		figure:nth-child(5) svg rect {
			fill: $blue-400;
		}
		figure:nth-child(6) svg rect {
			fill: $blue-500;
		}
		figure:nth-child(7) svg rect {
			fill: $blue-600;
		}
		figure:nth-child(8) svg rect {
			fill: $blue-700;
		}
		figure:nth-child(9) svg rect {
			fill: $blue-800;
		}
		figure:nth-child(10) svg rect {
			fill: $blue-900;
		}
	}
	.scorpio {
		figure {
			&:nth-child(-n+7) text{
				fill: $black;
			}
		}
		figure:nth-child(2) svg {
			border: 1px solid $orange-200;
			rect {
				fill: $orange-100;
			}
		}
		figure:nth-child(3) svg rect {
			fill: $orange-200;
		}
		figure:nth-child(4) svg rect {
			fill: $orange-300;
		}
		figure:nth-child(5) svg rect {
			fill: $orange-400;
		}
		figure:nth-child(6) svg rect {
			fill: $orange-500;
		}
		figure:nth-child(7) svg rect {
			fill: $orange-600;
		}
		figure:nth-child(8) svg rect {
			fill: $orange-700;
		}
		figure:nth-child(9) svg rect {
			fill: $orange-800;
		}
		figure:nth-child(10) svg rect {
			fill: $orange-900;
		}
	}
	.taurus {
		figure {
			&:nth-child(-n+6) text{
				fill: $black;
			}
		}
		figure:nth-child(2) svg {
			border: 1px solid $green-200;
			rect {
				fill: $green-100;
			}
		}
		figure:nth-child(3) svg rect {
			fill: $green-200;
		}
		figure:nth-child(4) svg rect {
			fill: $green-300;
		}
		figure:nth-child(5) svg rect {
			fill: $green-400;
		}
		figure:nth-child(6) svg rect {
			fill: $green-500;
		}
		figure:nth-child(7) svg rect {
			fill: $green-600;
		}
		figure:nth-child(8) svg rect {
			fill: $green-700;
		}
		figure:nth-child(9) svg rect {
			fill: $green-800;
		}
		figure:nth-child(10) svg rect {
			fill: $green-900;
		}
	}
}





// body {
//   font-family: 'Work Sans', sans-serif;
//   font-size: 16px;
//   line-height: 24px;
// }

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: 'Work Sans', sans-serif;
// }

// .display-1,
// .display-2,
// .display-3,
// .display-4,
// .display-5,
// .display-6 {
//   font-family: 'Forum', cursive;
// }

// h1,
// .display-1 {
//   font-size: 32px;
//   line-height: 36px;
// }

// h2,
// .display-2 {
//   font-size: 24px;
//   line-height: 32px;
// }

// h3,
// .display-3 {
//   font-size: 22px;
//   line-height: 28px;
// }

// h4,
// .display-4 {
//   font-size: 12px;
//   line-height: 18px;
//   text-transform: uppercase;
//   font-weight: 600;
// }

// .display-4 {
//   font-weight: 400;
// }

// h5,
// .display-5 {
//   font-size: 16px;
//   line-height: 24px;
// }

// h6,
// .display-6 {
//   font-size: 14px;
//   line-height: 20px;
// }

// .lead {
//   font-size: 18px;
//   line-height: 24px;
// }

// small {
//   font-size: 14px;
//   line-height: 20px;
// }

// strong {
//   font-weight: 700;
// }

// .blockquote {
//   font-size: 18px;
//   line-height: 24px;
// }

// .blockquote-footer {
//   font-size: 16px;
//   line-height: 24px;
// }