@import "bootstrap/bootstrap";



// Typography
// Headings
h1, .h1 {
	font-size: $h1-font-size * .6875;

	@include media-breakpoint-up(md) {
		font-size: $h1-font-size * .875;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size;
	}
}

h2, .h2 {
	font-size: $h2-font-size * .83;

	@include media-breakpoint-up(md) {
		font-size: $h2-font-size * .916;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h2-font-size;
	}
}

h3, .h3 {
	font-size: $h3-font-size * .72;

	@include media-breakpoint-up(md) {
		font-size: $h3-font-size * .81;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h3-font-size;
	}
}

h4, .h4 {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-weight: $font-weight-semibold;
	line-height: $line-height-base;
}

.subheader {
	display: inline-block;

	h1 {
	}

	h4 {
		margin-bottom: 0;
	}

	hr {
		margin-left: $spacer * .75;
		margin-right: $spacer * 1.25;

		@include media-breakpoint-up(md) {
			margin-right: $spacer * 1.5;
		}
		@include media-breakpoint-up(xl) {
			margin-left: $spacer;
			margin-right: $spacer * 2;
		}
	}
}

// Body
p:last-child {
	margin-bottom: 0;
}

// Color
.subtle {
	color: $body-subtle-color;
}



// Images
.stars {
	vertical-align: baseline;

	width: 20px;
	@include media-breakpoint-up(md) {
		width: 24px;
	}
	@include media-breakpoint-up(xl) {
		width: 32px;
	}
}

.stars-header {
	margin-left: $spacer * 0.5;

	@include media-breakpoint-up(xl) {
		margin-left: $spacer * 0.75;
	}
}

.star {
	width: 10px;
	margin-left: $spacer * .5;
	margin-right: $spacer * .5;
}



// Grid
.container-fluid {
	@include make-container(3.5rem);
}
.min-vh-100 {
	min-height: calc(100vh - 141px) !important;
}



// Nav
.navbar {
	backdrop-filter: blur(16px);
	background-color: rgba($white, .8);

	.nav-link {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-collapse {
		flex-grow: 0;
	}

	img.nav-item {
		width: 10px;
		margin-left: $spacer;
		margin-right: $spacer;
	}

	.logo {
		width: 38px;
		@include transition($transition-base);

		path {
			fill: $black;
		}
	}

	a.navbar-brand {
		&:hover {
			.logo {
				path {
					fill: $navbar-light-hover-color;
				}
			}
		}
	}
}



// Links
a {
	@include transition($transition-base);
}



// Body
main {
	margin-top: $spacer * 4.75;

	.card {
		@include transition($transition-base);
		padding: $card-spacer-y $card-spacer-x;

		a {
			color: $black;
			text-decoration: none;
		}

		.card-body {
			font-size: $font-size-xs;
			padding: $card-spacer-y 0 0;

			.card-title {
				margin-top: $card-title-spacer-y;
				margin-bottom: 0;
			}

			.card-subtitle {
				margin: 0;
			}

			.stars {
				@include transition($transition-base);
				opacity: 0%;
			}
		}

		&:hover {
			border-color: $pink-200;
			
			.stars {
				opacity: 100%;
			}
		}
	}

	.project-header {
		background-color: $pink-100;
		border-radius: $border-radius;
		padding: $spacer * 2;
	}

	.project-image {
		margin: $spacer 0;
		padding: 0 $spacer;
		max-height: 336px;
	}

	.bg-pink {
		background-color: $pink-100;

		&.badge {
			border: 1px solid $pink-200;
		}
	}

	.bg-purple {
		background-color: $purple-100;

		&.badge {
			border: 1px solid $purple-200;
		}
	}

	.bg-blue {
		background-color: $blue-100;

		&.badge {
			border: 1px solid $blue-200;
		}
	}

	.bg-orange {
		background-color: $orange-100;

		&.badge {
			border: 1px solid $orange-200;
		}
	}

	.bg-green {
		background-color: $green-100;

		&.badge {
			border: 1px solid $green-200;
		}
	}
}



// Footer
footer {
	font-size: $font-size-xs;

	margin-top: $spacer * 1.5;
	margin-bottom: $spacer * 1.5;
	
	a {
		color: $black;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}

	@include media-breakpoint-up(sm) {
		ul {
			margin-bottom: 0px;
		}
	}
}