@import "bootstrap/bootstrap";



// Typography Headings
h1, .h1 {
	font-size: $h1-font-size * .6875;

	@include media-breakpoint-up(md) {
		font-size: $h1-font-size * .875;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size;
	}
}

h2, .h2 {
	font-size: $h2-font-size * .83;

	@include media-breakpoint-up(md) {
		font-size: $h2-font-size * .916;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h2-font-size;
	}
}

h3, .h3 {
	font-size: $h3-font-size * .72;

	@include media-breakpoint-up(md) {
		font-size: $h3-font-size * .81;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h3-font-size;
	}
}

h4, .h4 {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-weight: $font-weight-semibold;
	line-height: $line-height-base;
}

.subheader {
	display: inline-block;

	h4 {
		margin-bottom: 0;
	}

	hr {
		margin-left: $spacer * .75;
		margin-right: $spacer * .75;

		@include media-breakpoint-up(md) {
			margin-right: $spacer * 1.5;
		}
		@include media-breakpoint-up(xl) {
			margin-left: $spacer;
			margin-right: $spacer;
		}
	}
}

// Typography Body
p:last-child {
	margin-bottom: 0;
}

.subtle {
	color: $body-subtle-color;
}

.figure-caption {
	text-align: center;
}



// Images
// .stars {
// 	vertical-align: baseline;

// 	width: 20px;
// 	@include media-breakpoint-up(md) {
// 		width: 24px;
// 	}
// 	@include media-breakpoint-up(xl) {
// 		width: 32px;
// 	}
// }

// .stars-header {
// 	margin-left: $spacer * 0.5;

// 	@include media-breakpoint-up(xl) {
// 		margin-left: $spacer * 0.75;
// 	}
// }

// .star {
// 	width: 10px;
// 	margin-left: $spacer * .5;
// 	margin-right: $spacer * .5;
// }

.figure {
	margin-bottom: 0;
}



// Grid
.container-fluid {
	@include make-container(3.5rem);
}

.container {
	padding: 0 $container-padding-x;
}

.container-xxl {
	padding: 0;

	@include media-breakpoint-up(xxl) {
		padding: 0 $container-padding-x;
	}
}

.min-vh-100 {
	min-height: calc(100vh - 141px) !important;
}

.row {
	margin-bottom: $spacer * 5;
}



// Nav
.navbar {
	backdrop-filter: blur(16px);
	background-color: rgba($dark, .8);

	.nav-link {
		padding-left: 0;
		padding-right: 0;
		color: $white;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}

	.navbar-collapse {
		flex-grow: 0;
	}

	img.nav-item {
		width: 10px;
		margin-left: $spacer;
		margin-right: $spacer;
	}

	.logo {
		width: 38px;
		@include transition($transition-base);

		path {
			fill: $black;
		}
	}

	a.navbar-brand {
		&:hover {
			.logo {
				path {
					fill: $navbar-light-hover-color;
				}
			}
		}
	}
}



// Links
a {
	@include transition($transition-base);
}



// Body
body {
	background-color: $light;
}

.bg-dark, .bg-eggplant {
	color: $body-color-light;
}

main {
	margin-top: $spacer * 4.75;
}

.bg-eggplant {
	background-color: $eggplant;

	.navbar {
		backdrop-filter: blur(16px);
		background-color: rgba($eggplant, .8);
	}

	a {
		color: $mauve;
	}
}

.card {
	@include transition($transition-base);
	background-color: transparent;
	border-radius: 0;

	a {
		color: $white;
		text-decoration: none;
	}

	.card-body {
		font-size: $font-size-xs;
		padding: $card-spacer-y 0;
	}

	i {
		font-size: $h2-font-size;
		opacity: 0;
		padding-right: $spacer;
		@include transition($transition-slow);
	}

	.card-title {
		margin-top: $card-title-spacer-y;
		margin-bottom: 0;
	}

	.card-subtitle {
		margin: 0;
	}

	.card-img {
		border-radius: $border-radius;
	}

	.card-line {
		height: 1px;
		width: 0;
		background-color: $ochre;
		@include transition($transition-slow);
	}

	&:hover {
		i {
			opacity: 1;
			padding-right: 0;
		}
		.card-line {
			width: 100%;
		}
	}
}

.project-header {
	background-color: $pink-100;
	border-radius: $border-radius;
	padding: $spacer * 2 0;
	margin-bottom: $spacer * 5;
}

.project-overview {
	&.sidebar {
		@include make-col-ready();
		@include make-col(12);

		@include media-breakpoint-up(md) {
			@include make-col(4);
		}
		@include media-breakpoint-up(xl) {
			@include make-col(3);
		}

		.sidebar-item {
			@include make-col-ready();
			@include make-col(12);
			margin-bottom: $spacer;

			@include media-breakpoint-up(sm) {
				@include make-col(6);
			}
			@include media-breakpoint-up(md) {
				@include make-col(12);
			}
		}

		h4 {
			margin-bottom: 0;
		}
	}

	&.main-content {
		@include make-col-ready();
		@include make-col();
		
		@include media-breakpoint-up(xl) {
			@include make-col(7);
		}

		h2 {
			margin-top: $spacer * 2.5;
		}
	}
}

.project-text {
	@include make-col-ready();
	@include make-col();

	@include media-breakpoint-up(md) {
		@include make-col(8);
	}

	@include media-breakpoint-up(xl) {
		@include make-col(7);
		@include make-col-offset(1);
	}
}

.project-images-3 {
	@include make-col-ready();
	@include make-col(12);

	@include media-breakpoint-up(sm) {
		@include make-col(6);
	}

	@include media-breakpoint-up(md) {
		@include make-col();
	}
}

.pagination {
	margin-top: $spacer * 4;
	margin-bottom: $spacer * 4;

	.row {
		margin-top: 0;
		margin-bottom: 0;
	}

	i {
		@include transition($transition-base);
		font-size: $h3-font-size;
	}

	h4 {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		color: $body-color;
	}

	.pagination-left,
	.pagination-right {
		@include transition($transition-base);
	}

	.pagination-right {
		text-align: right;
	}
}

.pagination-left:hover,
.pagination-right:hover {
	color: $navbar-dark-hover-color;
	a, i {
		color: $navbar-dark-hover-color;
	}
}

.pagination-left:hover {
	a, h4 {
		margin-left: $spacer;
	}

	i {
		margin-left: -16px;
	}
}

.pagination-right:hover {
	a, h4 {
		margin-right: $spacer;
	}

	i {
		margin-right: -16px;
	}
}



// Footer
footer {
	font-size: $font-size-xs;

	margin-top: $spacer * 1.5;
	margin-bottom: $spacer * 1.5;
	
	a {
		color: $eggplant;
		font-size: $font-size-base;

		&:hover {
			color: $navbar-dark-hover-color;
		}
	}

	@include media-breakpoint-up(sm) {
		ul {
			margin-bottom: 0px;
		}
	}
}

.bg-dark, .bg-eggplant {
	footer a {
		color: $body-color-light;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}
}