@import "bootstrap/bootstrap";



// Typography Headings
h1, .h1 {
	font-size: $h1-font-size * .6875;
	margin-bottom: 0;

	@include media-breakpoint-up(md) {
		font-size: $h1-font-size * .875;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size;
	}
}

h2, .h2 {
	font-size: $h2-font-size * .83;

	@include media-breakpoint-up(md) {
		font-size: $h2-font-size * .916;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h2-font-size;
	}
}

h3, .h3 {
	font-size: $h3-font-size * .72;

	@include media-breakpoint-up(md) {
		font-size: $h3-font-size * .81;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h3-font-size;
	}
}

h4, .h4 {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	line-height: $line-height-base;
}

.orpheus-1 {
	font-feature-settings: "ss01";
}

.orpheus-8 {
	font-feature-settings: "ss08";
}

.subheader {
	display: inline-block;

	h4 {
		margin-bottom: 0;
	}

	hr {
		margin-left: $spacer * .75;
		margin-right: $spacer * .75;

		@include media-breakpoint-up(md) {
			margin-right: $spacer * 1.5;
		}
		@include media-breakpoint-up(xl) {
			margin-left: $spacer;
			margin-right: $spacer;
		}
	}
}



// Typography Body
p:last-child {
	margin-bottom: 0;
}

.subtle {
	color: $body-subtle-color;
}

.figure-caption {
	text-align: center;
}



// Images
.figure {
	margin-bottom: 0;
}



// Grid
.container-fluid {
	@include make-container(3.5rem);
}

.container {
	padding: 0 $container-padding-x;
}

.container-xxl {
	padding: 0 $spacer * 1.75;

	@include media-breakpoint-up(xxl) {
		padding: 0 $container-padding-x;
	}
}

.min-vh-100 {
	min-height: calc(100vh - 141px) !important;
}

.row {
	margin-bottom: $spacer * 5;
}



// Nav
.navbar {
	backdrop-filter: blur(16px);
	background-color: rgba($dark, .8);

	.nav-link {
		padding-left: 0;
		padding-right: 0;
		color: $white;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}

	.navbar-collapse {
		flex-grow: 0;
	}

	img.nav-item {
		width: 16px;
		margin-left: $spacer;
		margin-right: $spacer;
	}

	.logo {
		@include transition($transition-base);
		fill: $white;
	}

	a.navbar-brand:hover {
		.logo {
			fill: $navbar-light-hover-color;
		}
	}
}



// Links
a {
	@include transition($transition-base);
}



// Body
body {
	background-color: $light;
}

.bg-dark, .bg-eggplant {
	color: $body-color-light;
}

body.bg-dark main, body.bg-eggplant main {
	margin-top: $page-top-spacer;
}

.bg-eggplant {
	background-color: $eggplant;

	.navbar {
		backdrop-filter: blur(16px);
		background-color: rgba($eggplant, .8);
	}

	a {
		color: $mauve;
	}
}

.card {
	@include transition($transition-base);
	background-color: transparent;
	border-radius: 0;

	a {
		color: $white;
		text-decoration: none;
	}

	.card-body {
		font-size: $font-size-xs;
		padding: $card-spacer-y 0;
	}

	i {
		font-size: $h2-font-size;
		opacity: 0;
		padding-right: $spacer;
		@include transition($transition-slow);
	}

	.card-title {
		margin-top: $card-title-spacer-y;
		margin-bottom: 0;
	}

	.card-subtitle {
		margin: 0;
	}

	.card-img {
		border-radius: $border-radius;
	}

	.card-line {
		height: 1px;
		width: 0;
		background-color: $ochre;
		@include transition($transition-slow);
	}

	&:hover {
		i {
			opacity: 1;
			padding-right: 0;
		}
		.card-line {
			width: 100%;
		}
	}
}

.project-hero {
	padding-top: $page-top-spacer;
	padding-bottom: $spacer * 2;
	margin-bottom: $spacer * 5;
}

.project-overview-main {
	@include make-col-ready();
	@include make-col();
	
	@include media-breakpoint-up(xl) {
		@include make-col(7);
	}

	h2 {
		margin-top: $spacer * 2.5;
	}

	:first-child {
		margin-top: 0;
	}
}

.project-overview-sidebar {
	@include make-col-ready();
	@include make-col(12);

	@include media-breakpoint-up(md) {
		@include make-col(4);
	}
	@include media-breakpoint-up(xl) {
		@include make-col(3);
	}

	h4 {
		margin-bottom: 0;
	}

	.sidebar-item {
		@include make-col-ready();
		@include make-col(12);
		margin-bottom: $spacer;

		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-up(md) {
			@include make-col(12);
		}
	}
}

.project-overview-alt {
	@include make-col-ready();
	@include make-col(12);

	h4 {
		margin-bottom: 0;
	}

	.sidebar-item,
	.sidebar-item-wider {
		@include make-col-ready();
		@include make-col(12);
		margin-bottom: $spacer;
	}

	.sidebar-item {
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-up(md) {
			@include make-col();
		}
	}

	.sidebar-item-wider {
		@include media-breakpoint-up(sm) {
			@include make-col(12);
		}
		@include media-breakpoint-up(lg) {
			@include make-col(4);
		}
	}
}

.project-text {
	@include make-col-ready();
	@include make-col();

	@include media-breakpoint-up(md) {
		@include make-col(8);
	}

	@include media-breakpoint-up(xl) {
		@include make-col(7);
		@include make-col-offset(1);
	}
}

.project-images-3 {
	@include make-col-ready();
	@include make-col(12);

	@include media-breakpoint-up(sm) {
		@include make-col(6);
	}

	@include media-breakpoint-up(md) {
		@include make-col();
	}
}

.pagination {
	margin-top: $spacer * 4;
	margin-bottom: $spacer * 4;

	.row {
		margin-top: 0;
		margin-bottom: 0;
	}

	i {
		@include transition($transition-base);
		font-size: $h3-font-size;
		position: relative;
	}

	h4 {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		color: $body-color;
	}

	.pagination-left,
	.pagination-right {
		@include transition($transition-base);
	}

	.pagination-left {
		i {
			right: 0;
		}
	}

	.pagination-right {
		text-align: right;

		i {
			left: 0;
		}
	}
}

.pagination-left:hover,
.pagination-right:hover {
	color: $navbar-dark-hover-color;
	a, i {
		color: $navbar-dark-hover-color;
	}
}

.pagination-left:hover {
	i {
		right: 16px;
	}
}

.pagination-right:hover {
	i {
		left: 16px;
	}
}



// Footer
footer {
	font-size: $font-size-xs;

	margin-top: $spacer * 1.5;
	margin-bottom: $spacer * 1.5;
	
	a {
		color: $eggplant;
		font-size: $font-size-base;

		&:hover {
			color: $navbar-dark-hover-color;
		}
	}

	@include media-breakpoint-up(sm) {
		ul {
			margin-bottom: 0px;
		}
	}
}

.bg-dark, .bg-eggplant {
	footer a {
		color: $body-color-light;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}
}



// Utilities
.hidden {
  display: none !important;
}



.pretty-instant-timeline {
	svg {
		&.pink,
		.pink {
			fill: $pretty-instant-pink;
		}
		&.orange,
		.orange {
			fill: $pretty-instant-orange;
		}
		&.yellow,
		.yellow {
			fill: $pretty-instant-yellow;
		}
		&.green,
		.green {
			fill: $pretty-instant-green;
		}
		&.blue,
		.blue{
			fill: $pretty-instant-blue;
		}
		&.navy,
		.navy {
			fill: $pretty-instant-navy;
		}
		&.gray,
		.gray {
			fill: $pretty-instant-gray-darker;
		}
		&.white,
		.white {
			fill: $light;
		}
		.darker-pink {
			fill: $pretty-instant-darker-pink;
		}
		.darker-orange {
			fill: $pretty-instant-darker-orange;
		}
		.darker-yellow {
			fill: $pretty-instant-darker-yellow;
		}
		.darker-green {
			fill: $pretty-instant-darker-green;
		}
		.darker-blue{
			fill: $pretty-instant-darker-blue;
		}
		.stroke {
			fill: none;
			stroke-width: 7;
			stroke-linecap: round;
			stroke-miterlimit: 10;
		}
		.stroke-pink {
			stroke: $pretty-instant-pink;
		}
		.stroke-orange {
			stroke: $pretty-instant-orange;
		}
		.stroke-yellow {
			stroke: $pretty-instant-yellow;
		}
		.stroke-green {
			stroke: $pretty-instant-green;
		}
		.stroke-blue{
			stroke: $pretty-instant-blue;
		}
		.stroke-navy {
			stroke: $pretty-instant-navy;
		}
	}

	@include media-breakpoint-up(xs) {
		margin-top: 20px;
	}
	@include media-breakpoint-up(sm) {
		margin-top: 45px;
		margin-left: 15px;
		padding-top: 0;
	}
	@include media-breakpoint-up(md) {
		margin-top: 0;
	}
	@include media-breakpoint-up(lg) {
		margin-top: 45px;
		margin-left: 8%;
		margin-right: 8%;
	}

	.progress-bar {
		height: 5px;
		width: 100%;

		@include media-breakpoint-up(xs) {
			display: none;
		}
		@include media-breakpoint-up(sm) {
			display: block;
		}

		svg {
			position: absolute;
			width: 80%;
			height: 100%;

			@include media-breakpoint-up(sm) {
				margin-top: 5px;
				margin-left: 27px;
			}
			@include media-breakpoint-up(lg) {
				margin-top: 0;
				margin-left: 0;
			}
			.horizontal-progress-bar {
				@include media-breakpoint-up(xs) {
					display: none;
				}
				@include media-breakpoint-up(lg) {
					display: block;
				}
			}
			.vertical-progress-bar {
				@include media-breakpoint-up(xs) {
					display: block;
				}
				@include media-breakpoint-up(lg) {
					display: none;
				}
			}
		}
	}

	.step {
    position: relative;
    z-index: 5;

    @include media-breakpoint-up(sm) {
      margin-left: -20px;
    }
    @include media-breakpoint-up(lg) {
      float: left;
      width: 25%;
      margin-left: 0;
      margin-top: -55px;
    }
  }

  .step1,
  .step2,
  .step3 {
    @include media-breakpoint-up(xs) {
      padding-bottom: 72px;
    }
    @include media-breakpoint-up(mdg) {
      padding-bottom: 72px;
    }
    @include media-breakpoint-up(lg) {
      padding-bottom: 0;
    }
  }
  .step2,
  .step3,
  .step4 {
    @include media-breakpoint-up(lg) {
      margin-left: 8%;
    }
  }
  .step1 {
    @include media-breakpoint-up(lg) {
      margin-left: -12.5%;
    }
  }
  .step4 {
    @include media-breakpoint-up(xs) {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(sm) {
      margin-bottom: -100%;
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
      margin-right: -12.5%;
    }
  }

  .icon {
    display: block;
    border-radius: 50%;
		background-color: $light;

    @include media-breakpoint-up(xs) {
      width: 80px;
      height: 80px;
      margin: 0 auto;
    }
    @include media-breakpoint-up(sm) {
      float: left;
      margin-right: 20px;
      width: 100px;
      height: 100px;
    }
    @include media-breakpoint-up(lg) {
      float: none;
      margin: auto;
    }
  }
}

// section.process-timeline {
//   .body {
//     @include grid-media($base-grid) {
//       @include grid-shift(0);
//       @include grid-column(12);
//     }
//     @include grid-media($xs-grid) {
//       @include grid-shift(1);
//       @include grid-column(10);
//     }
//     @include grid-media($sm-grid) {
//       @include grid-shift(2);
//       @include grid-column(8);
//     }
//     @include grid-media($md-grid) {
//       @include grid-shift(0);
//       @include grid-column(12);
//     }
//   }
//   #timeline {
//     @include grid-media($base-grid) {
//       margin-top: 20px;
//     }
//     @include grid-media($xs-grid) {
//       margin-top: 45px;
//       margin-left: 15px;
//       padding-top: 0;
//     }
//     @include grid-media($sm-grid) {
//       margin-top: 0;
//     }
//     @include grid-media($md-grid) {
//       margin-top: 45px;
//       margin-left: 8%;
//       margin-right: 8%;
//     }
//     &:after {
//       content: "";
//       display: table;
//       clear: both;
//     }
//     .border {
//       height: 5px;
//       width: 100%;
//       @include grid-media($base-grid) {
//         display: none;
//       }
//       @include grid-media($xs-grid) {
//         display: block;
//       }
//       svg {
//         position: absolute;
//         width: 80%;
//         height: 100%;
//         @include grid-media($xs-grid) {
//           margin-top: 5px;
//           margin-left: 27px;
//         }
//         @include grid-media($md-grid) {
//           margin-top: 0;
//           margin-left: 0;
//         }
//         .horizontalBorder {
//           @include grid-media($base-grid) {
//             display: none;
//           }
//           @include grid-media($md-grid) {
//             display: block;
//           }
//         }
//         .verticalBorder {
//           @include grid-media($base-grid) {
//             display: block;
//           }
//           @include grid-media($md-grid) {
//             display: none;
//           }
//         }
//       }
//     }
//   }
//   .step {
//     position: relative;
//     z-index: 5;
//     @include grid-media($xs-grid) {
//       margin-left: -20px;
//     }
//     @include grid-media($md-grid) {
//       float: left;
//       width: 25%;
//       margin-left: 0;
//       margin-top: -55px;
//     }
//   }
//   .step1,
//   .step2,
//   .step3 {
//     @include grid-media($base-grid) {
//       padding-bottom: $large-spacing;
//     }
//     @include grid-media($sm-grid) {
//       padding-bottom: $large-spacing;
//     }
//     @include grid-media($md-grid) {
//       padding-bottom: 0;
//     }
//   }
//   .step2,
//   .step3,
//   .step4 {
//     @include grid-media($md-grid) {
//       margin-left: 8%;
//     }
//   }
//   .step1 {
//     @include grid-media($md-grid) {
//       margin-left: -12.5%;
//     }
//   }
//   .step4 {
//     @include grid-media($base-grid) {
//       margin-bottom: 0;
//     }
//     @include grid-media($xs-grid) {
//       margin-bottom: -100%;
//     }
//     @include grid-media($md-grid) {
//       margin-bottom: 0;
//       margin-right: -12.5%;
//     }
//   }
//   .icon {
//     display: block;
//     border-radius: 50%;
//     @include grid-media($base-grid) {
//       width: 80px;
//       height: 80px;
//       margin: 0 auto;
//     }
//     @include grid-media($xs-grid) {
//       float: left;
//       margin-right: 20px;
//       width: 100px;
//       height: 100px;
//     }
//     @include grid-media($md-grid) {
//       float: none;
//       margin: auto;
//     }
//   }
//   h4,
//   p.large {
//     margin-bottom: 0;
//     @include grid-media($base-grid) {
//       text-align: center;
//     }
//     @include grid-media($xs-grid) {
//       text-align: left;
//     }
//     @include grid-media($md-grid) {
//       text-align: center;
//     }
//   }
//   h4 {
//     @include grid-media($xs-grid) {
//       margin-top: 0;
//       padding-top: 25px;
//     }
//     @include grid-media($md-grid) {
//       margin-top: $small-spacing;
//       padding-top: 0;
//     }
//   }
//   p.large {
//     overflow: hidden;
//   }
// }