@import "bootstrap/bootstrap";



// Typography Headings
h1, .h1 {
	font-size: $h1-font-size * .6875;
	margin-bottom: 0;

	@include media-breakpoint-up(md) {
		font-size: $h1-font-size * .875;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h1-font-size;
	}
}

h1.mb, .h1.mb {
	margin-bottom: $spacer;
}

h2, .h2 {
	font-size: $h2-font-size * .83;

	@include media-breakpoint-up(md) {
		font-size: $h2-font-size * .916;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h2-font-size;
	}
}

h3, .h3 {
	font-size: $h3-font-size * .72;

	@include media-breakpoint-up(md) {
		font-size: $h3-font-size * .81;
	}
	@include media-breakpoint-up(xl) {
		font-size: $h3-font-size;
	}
}

h4, .h4 {
	font-family: $font-family-sans-serif;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	line-height: $line-height-base;
}

.orpheus-1 {
	font-feature-settings: "ss01";
}

.orpheus-8 {
	font-feature-settings: "ss08";
}

.subheader {
	display: inline-block;

	h4 {
		margin-bottom: 0;
	}

	hr {
		margin-left: $spacer * .5;
		margin-right: $spacer * .2;

		@include media-breakpoint-up(xl) {
			margin-right: $spacer * .25;
		}
	}
}



// Typography Body
p:last-child {
	margin-bottom: 0;
}

.subtle {
	color: $body-subtle-color;
}

.figure-caption {
	text-align: center;
	margin-top: $spacer * .5;
}



// Images
.figure {
	margin-bottom: 0;
}

.full-height {
  display: flex;
	flex-direction: column;
	height: 100%;

	.img-wrapper {
    height: 100%;
    align-items: center;
    display: flex;

		@include media-breakpoint-up(md) {
			.figure-img {
				margin-bottom: 0;
			}
		}
	}
}



// Grid
.container-fluid {
	@include make-container(3.5rem);
}

.container {
	padding: 0 $container-padding-x;
}

.container-xxl {
	padding: 0 $spacer * 1.75;

	@include media-breakpoint-up(xxl) {
		padding: 0 $container-padding-x;
	}
}

.min-vh-100 {
	min-height: calc(100vh - 184px) !important;
}

.row {
	margin-bottom: $spacer * 5;
}



// Nav
.navbar {
	@include transition($transition-base);
	background-color: rgba($dark, .8);
	padding: $spacer * .5 0;

	@include media-breakpoint-up(md) {
		padding: $navbar-padding-y 0;
	}

	.nav-link {
		padding-left: 0;
		padding-right: 0;
		color: $white;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}

	img.nav-item {
		width: 16px;
		margin-left: $spacer;
		margin-right: $spacer;
	}

	.logo {
		@include transition($transition-base);
		fill: $white;
	}

	a.navbar-brand:hover {
		.logo {
			fill: $navbar-light-hover-color;
		}
	}
}

.navbar.scrolled,
.navbar-light {
	background-color: rgba($light, .8);

	.nav-link {
		color: $body-color;

		&:hover {
			color: $navbar-dark-hover-color;
		}
	}

	.logo {
		fill: $body-color;
	}

	a.navbar-brand:hover {
		.logo {
			fill: $navbar-dark-hover-color;
		}
	}
}



// Links
a {
	@include transition($transition-base);
}

a.inline {
	text-decoration: none;
	position: relative;
	display: inline-block;

	&:after {
		content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    height: 1px;
    background-color: $link-color;
		@include transition($transition-base);
	}

	&:hover {
		color: $link-hover-color;

		&:after {
			left: 50%;
			width: 0;
		}
	}
}

a.inline.light {
	color: $link-light-color;

	&:after {
    background-color: $link-light-color;
	}

	&:hover {
		color: $link-light-hover-color;
	}
}



// Body
body {
	background-color: $light;
}

.bg-dark, .bg-eggplant {
	color: $body-color-light;
}

body.bg-dark main,
body.bg-eggplant main,
body.photo main {
	margin-top: $page-top-spacer-sm;

	@include media-breakpoint-up(md) {
		margin-top: $page-top-spacer;
	}
}

.bg-eggplant {
	background-color: $eggplant;

	.navbar {
		background-color: rgba($eggplant, .8);
	}
}

.card {
	@include transition($transition-base);
	background-color: transparent;
	border-radius: 0;

	a {
		color: $white;
		text-decoration: none;
	}

	.card-body {
		font-size: $font-size-xs;
		padding: $card-spacer-y 0;
	}

	i {
		font-size: $h2-font-size;
		opacity: 1;
		padding-right: 0;
		@include transition($transition-slow);

		@include media-breakpoint-up(md) {
			opacity: 0;
			padding-right: $spacer;
		}
	}

	.card-title {
		margin-top: $card-title-spacer-y;
		margin-bottom: 0;
	}

	.card-subtitle {
		margin: 0;
	}

	.card-img {
		border-radius: $border-radius;
	}

	.card-photo-img {
		border-radius: $border-radius;
		width: 100%;
		height: 100%;
		display: block;
		background-repeat: no-repeat;
    background-position: center center;
		background-size: cover;
	}

	.card-photo-mythology {
		background-image: url("../images/photo/mythology.jpg");
	}

	.card-photo-roommates {
		background-image: url("../images/photo/roommates.jpg");
	}

	.card-photo-cemeteries {
		background-image: url("../images/photo/cemeteries.jpg");
	}

	.card-photo-fruit {
		background-image: url("../images/photo/fruit.jpg");
	}

	.card-line {
		height: 1px;
		position: relative;
		left: 0;
		width: 100%;
		background-color: $ochre;
		@include transition($transition-slow);

		@include media-breakpoint-up(md) {
			left: 50%;
			width: 0;
			background-color: transparent;
		}
	}

	&:hover {
		i {
			opacity: 1;
			padding-right: 0;
		}
		.card-line {
			width: 100%;
			left: 0;
			background-color: $ochre;
		}
	}
}

.project-hero {
	padding-top: $page-top-spacer-sm;
	padding-bottom: $spacer * 3;
	margin-bottom: $spacer * 5;

	@include media-breakpoint-up(md) {
		padding-top: $page-top-spacer;
	}
}

.project-overview-main {
	@include make-col-ready();
	@include make-col();
	
	@include media-breakpoint-up(xl) {
		@include make-col(7);
	}

	h2 {
		margin-top: $spacer * 2.5;
	}

	:first-child {
		margin-top: 0;
	}
}

.project-overview-sidebar {
	@include make-col-ready();
	@include make-col(12);

	@include media-breakpoint-up(md) {
		@include make-col(4);
	}
	@include media-breakpoint-up(xl) {
		@include make-col(3);
	}

	h4 {
		margin-bottom: 0;
	}

	.sidebar-item {
		@include make-col-ready();
		@include make-col(12);
		margin-bottom: $spacer;

		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-up(md) {
			@include make-col(12);
		}
	}
}

.project-overview-alt {
	@include make-col-ready();
	@include make-col(12);

	h4 {
		margin-bottom: 0;
	}

	.sidebar-item,
	.sidebar-item-wider {
		@include make-col-ready();
		@include make-col(12);
		margin-bottom: $spacer;
	}

	.sidebar-item {
		@include media-breakpoint-up(sm) {
			@include make-col(6);
		}
		@include media-breakpoint-up(md) {
			@include make-col();
		}
	}

	.sidebar-item-wider {
		@include media-breakpoint-up(sm) {
			@include make-col(12);
		}
		@include media-breakpoint-up(lg) {
			@include make-col(4);
		}
	}
}

.project-text {
	@include make-col-ready();
	@include make-col();
	margin-bottom: $spacer * 2.5;

	@include media-breakpoint-up(md) {
		@include make-col(8);
	}

	@include media-breakpoint-up(xl) {
		@include make-col(7);
		@include make-col-offset(1);
	}
}

.project-images-3 {
	@include make-col-ready();
	@include make-col(12);

	@include media-breakpoint-up(sm) {
		@include make-col(6);
	}

	@include media-breakpoint-up(md) {
		@include make-col();
	}
}

.pagination {
	margin-top: $spacer * 4;
	margin-bottom: $spacer * 4;

	.row {
		margin-top: 0;
		margin-bottom: 0;
	}

	i {
		@include transition($transition-base);
		font-size: $h3-font-size;
		position: relative;
	}

	h4 {
		margin-bottom: 0;
	}

	a {
		text-decoration: none;
		color: $body-color;
	}

	.pagination-left,
	.pagination-right {
		@include transition($transition-base);
	}

	.pagination-left {
		i {
			right: 0;
		}
	}

	.pagination-right {
		text-align: right;

		i {
			left: 0;
		}
	}
}

.pagination-left:hover,
.pagination-right:hover {
	color: $navbar-dark-hover-color;
	a, i {
		color: $navbar-dark-hover-color;
	}
}

.pagination-left:hover {
	i {
		right: 16px;
	}
}

.pagination-right:hover {
	i {
		left: 16px;
	}
}



// Footer
footer {
	font-size: $font-size-xs;

	margin-top: $spacer * 1.5;
	margin-bottom: $spacer * 1.5;
	
	a {
		color: $eggplant;
		font-size: $font-size-base;

		&:hover {
			color: $navbar-dark-hover-color;
		}
	}

	@include media-breakpoint-up(sm) {
		ul {
			margin-bottom: 0px;
		}
	}
}

.bg-dark, .bg-eggplant {
	footer a {
		color: $body-color-light;

		&:hover {
			color: $navbar-light-hover-color;
		}
	}
}



// Utilities
.hidden {
  display: none !important;
}



.pretty-instant-timeline {
	svg {
		&.pink,
		.pink {
			fill: $pretty-instant-pink;
		}
		&.orange,
		.orange {
			fill: $pretty-instant-orange;
		}
		&.yellow,
		.yellow {
			fill: $pretty-instant-yellow;
		}
		&.green,
		.green {
			fill: $pretty-instant-green;
		}
		&.blue,
		.blue{
			fill: $pretty-instant-blue;
		}
		&.navy,
		.navy {
			fill: $pretty-instant-navy;
		}
		&.gray,
		.gray {
			fill: $pretty-instant-gray-darker;
		}
		&.white,
		.white {
			fill: $light;
		}
		.darker-pink {
			fill: $pretty-instant-darker-pink;
		}
		.darker-orange {
			fill: $pretty-instant-darker-orange;
		}
		.darker-yellow {
			fill: $pretty-instant-darker-yellow;
		}
		.darker-green {
			fill: $pretty-instant-darker-green;
		}
		.darker-blue{
			fill: $pretty-instant-darker-blue;
		}
		.stroke {
			fill: none;
			stroke-width: 7;
			stroke-linecap: round;
			stroke-miterlimit: 10;
		}
		.stroke-pink {
			stroke: $pretty-instant-pink;
		}
		.stroke-orange {
			stroke: $pretty-instant-orange;
		}
		.stroke-yellow {
			stroke: $pretty-instant-yellow;
		}
		.stroke-green {
			stroke: $pretty-instant-green;
		}
		.stroke-blue{
			stroke: $pretty-instant-blue;
		}
		.stroke-navy {
			stroke: $pretty-instant-navy;
		}
	}

	height: 615px;

	@include media-breakpoint-up(sm) {
		margin-top: 50px;
		height: auto;
		display: flex;
	}

	.progress-bar {
		margin: 0 auto;
		width: 5px;

		@include media-breakpoint-up(sm) {
			height: 5px;
			display: contents;
			width: auto;
		}

		svg {
			position: absolute;
			width: 5px;
			height: 615px;

			@include media-breakpoint-up(sm) {
				width: 90%;
				height: 5px;
			}
			@include media-breakpoint-up(xxl) {
				max-width: 1144px;
			}
			.horizontal-progress-bar {
				display: none;

				@include media-breakpoint-up(sm) {
					display: block;
				}
			}
			.vertical-progress-bar {
				display: block;

				@include media-breakpoint-up(sm) {
					display: none;
				}
			}
		}
	}

	.step {
    position: relative;
    z-index: 5;

    @include media-breakpoint-up(sm) {
      float: left;
      margin-top: -50px;
			display: flex;
    }
  }
  .step1,
  .step2,
  .step3 {
    padding-bottom: 72px;

    @include media-breakpoint-up(sm) {
      padding-bottom: 0;
    }
  }

  .icon {
    border-radius: 50%;
		background-color: $light;
		margin: 0 auto;
		width: 100px;
		height: 100px;
  }
}


.mfp-move-horizontal {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.3s;
    
    transform: translateX(-50px);
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: translateX(0);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: translateX(50px);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}