{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "pageTitle.jinja" import pageTitle %}

<!DOCTYPE html>
<html lang="en">
	{{ head(title="About", meta="Jackie Keffas is a designer and photographer based in NYC") }}

	<body class="bg-dark">
    {{ navbar(page="") }}
        
		<main class="min-vh-100">
			<div class="container">
				<div class="row mb-0">
					<div class="col">
						{{ pageTitle(pageHeader="We can't find that page", pageSubheader="Oops", margin="mb-3") }}
						<p><a class="inline light" href="/">Go home</a></p>
					</div>
				</div>
			</div>
		</main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>