{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "pageTitle.jinja" import pageTitle %}

<!DOCTYPE html>
<html lang="en">
	{{ head(title="About", meta="Jackie Keffas is a designer and photographer based in NYC") }}

	<body class="bg-eggplant">
    {{ navbar(about="active", page="") }}
        
		<main class="min-vh-100">
			<div class="container">
				<div class="row mb-0 justify-content-center align-items-xl-center">
					<div class="col-sm-8 col-md-5 order-md-last mb-5 mb-md-0">
						<img class="img-fluid rounded" src="../static/images/jackie.jpg" alt="Headshot of Jackie">
					</div>
					
					<div class="col-12 col-md">
						{{ pageTitle(pageHeader="Hi, I’m Jackie", pageSubheader="About", margin="mb-3") }}
						<p>With 8+ years of experience as the sole marketing designer for various startups, I’ve led rebrands and been resposible for every part of the funnel, from ads to landing pages to user dashboards.</p>
						<p>Currently, I work as a brand and marketing designer at K Health, where I’m responsible for developing and maintaining the K Health brand identity across all platforms. Before that, I spent years as a designer and front-end developer for Pretty Instant, working with clients such as Disney, Porsche, and LinkedIn.</p>
						<p>My experience extends beyond design and includes a background in photography and video production, so you can usually find me behind a camera, watching horror movies, or flipping through record bins.</p>
						<p>I'm always open to new opportunities, so <a class="inline light" href="mailto:jkeffas@gmail.com" target="_blank">let's chat</a>!</p>
					</div>
				</div>
			</div>
		</main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>