{% macro cardPhoto(projectName) %}
	<div class="card">
		<div class="card-photo-img card-photo-{{ projectName }}">
		</div>
		<div class="card-body">
			<a href="/photo/{{ projectName }}" class="stretched-link">
				<div class="d-flex">
					<div class="flex-grow-1 pe-3">
						<h4 class="card-subtitle">Series</h4>
						<h2 class="card-title" style="text-transform: capitalize;">{{ projectName }}</h2>
					</div>
					<div class="align-self-end text-end">
						<i class="bi bi-arrow-right"></i>
					</div>
				</div>
			</a>
		</div>
		<div class="card-line"></div>
	</div>
{% endmacro %}