{% macro head(projectData, title=projectData.metaTitle, description="Jackie Keffas", meta=projectData.metaDescription) %}
<head>
		<!-- BASIC -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ title }} ⬩ {{ description }}</title>
		<meta name="description" content="{{ meta }}">

		<!-- FAVICON-->
		<link rel="icon" type="image/png" href="../static/images/favicon.png">

		<!-- FONTS -->
		<link rel="stylesheet" href="https://use.typekit.net/alp5atp.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

		<!-- CSS -->
		<link rel="stylesheet" href="../static/css/style.css">
		<link rel="stylesheet" href="../static/css/magnific-popup.css">

		<!-- JS -->
		<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script>
			$(document).scroll(function () {
				var $nav = $(".project-page");
				var $hero = $(".project-hero");
				$nav.toggleClass('scrolled', $(this).scrollTop() > ($hero.height() + $nav.height()));
			});
		</script>

		<script type="text/javascript" src="../static/js/magnific-popup.js"></script>
		<script>
			$(document).ready(function() {
				$('.image-popup').magnificPopup({
					type: 'image',
					tLoading: 'Loading image #%curr%...',
					closeOnContentClick: true,
					closeBtnInside: false,
					fixedContentPos: true,
					mainClass: 'mfp-with-zoom', // class to remove default margin from left and right side,
					gallery: {
						enabled: true,
						navigateByImgClick: true,
						preload: [0,1] // Will preload 0 - before current, and 1 after the current image
					},
					image: {
						verticalFit: true,
						tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
						titleSrc: function(item) {
							return item.el.attr('title');
						}
					},
					zoom: {
						enabled: true,
						duration: 300 // don't foget to change the duration also in CSS
					}
				});
			});
		</script>
	</head>
{% endmacro %}