{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <div class="container">
        <div class="row mb-0">
          <div class="project-text mb-0">
            <h2>Primary Care paid landing page</h2>
            <p>A generic membership page with variants targeting specific conditions</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-4">
          <div class="col">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/819738872?h=7c31fdb47f&autoplay=1&loop=1&badge=0&autopause=0&player_id=0&app_id=58479&muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Primary Care Landing Page"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row mb-0">
              <div class="col-12 col-lg mb-4 mb-lg-0">
                <img src="../static/images/work/khealth/website/bloodpressure.png" class="img-fluid" alt="Desktop and mobile version of the hero section of the high blood pressure page">
              </div>
              <div class="col-12 col-lg">
                <img src="../static/images/work/khealth/website/cholesterol.png" class="img-fluid" alt="Desktop and mobile version of the hero section of the high cholesterol page">
              </div>
            </div>
            <p class="figure-caption">
              Alternate hero sections for condition-specific versions of the pages
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-0">
          <div class="project-text mb-0">
            <h2>Medical Weight Management paid landing page</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/820563676?h=7c31fdb47f&autoplay=1&loop=1&badge=0&autopause=0&player_id=0&app_id=58479&muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Weight Management Landing Page"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-0">
          <div class="project-text">
            <h2>Home page</h2>
            <p>These paid landing pages were used to test into a new look for the main K Health website, an ongoing project that started with redesigning the home page. K Health's services and business direction have grown and shifted throughtout the years, and the home page no longer reflected what K Health has to offer to both its users and partners.</p>
            <p>The Marketing Copywriter and I began by wireframing out potential sections and copy for the page so that we could quickly determine what elements were needed, taking into consideration feedback from the CEO and Director of Marketing. Once approved by all stakeholders, we moved into high fidelity design.</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <img src="../static/images/work/khealth/website/home-wireframes.png" class="img-fluid" alt="Desktop and mobile version of the hero section of the high blood pressure page">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/820761527?h=7c31fdb47f&autoplay=1&loop=1&badge=0&autopause=0&player_id=0&app_id=58479&muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Home Page"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="k-health-brand", previousTitle="Brand book", previousCompany="K Health", nextSlug="k-health-emails", nextTitle="Emails", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>