{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <div class="container">
        <div class="row mb-7">
          <div class="project-text">
            <h2>12 second ads</h2>
            <p>Showcasing the 6 most popular medications available through K Health</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col-12 col-md-6 col-xl-4 mb-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-bupropion.png" class="figure-img img-fluid" alt="Ad for bupropion featuring a hand holding a pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-buspirone.png" class="figure-img img-fluid" alt="Ad for buspirone featuring a hand holding a pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-sertraline-50.png" class="figure-img img-fluid" alt="Ad for 50mg of sertraline featuring a hand holding a pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-sertraline-100.png" class="figure-img img-fluid" alt="Ad for 100mg of sertraline featuring a hand holding a pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3 mb-md-0">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-fluoxetine.png" class="figure-img img-fluid" alt="Ad for fluoxetine featuring a hand holding a pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-escitalopram.png" class="figure-img img-fluid" alt="Ad for escitalopram featuring a hand holding a pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
          </figcaption> -->
        </div>

        <div class="container">
          <div class="row mb-7">
            <div class="project-text">
              <h2>30 second ads</h2>
              <p>Storyboard of an ad that highlights the affordability of K Health's Mental Health program</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-lg-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard-1.png" class="figure-img img-fluid" alt="Intro screen featuring a hand holding a buspirone pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard-2.png" class="figure-img img-fluid" alt="Dr. Edo Paz speaking with a title card to introduce him">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard-3.png" class="figure-img img-fluid" alt="Woman opening a package with text that highlights the available medications">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard-4.png" class="figure-img img-fluid" alt="Dr. Edo Paz speaking with text that says 'intake process, clinician visit, and pharmacy in one'">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard-5.png" class="figure-img img-fluid" alt="A hand using the K Health app">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard-6.png" class="figure-img img-fluid" alt="A woman using her phone with text that says 'no insurance needed'">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard-1.png" class="figure-img img-fluid" alt="End screen featuring a hand holding a buspirone pill, the medication name, and the K Health logo">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
          </figcaption> -->
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="k-health-social", previousTitle="Social", previousCompany="K Health", nextSlug="pretty-instant-website", nextTitle="Website redesign", nextCompany="Pretty Instant") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>