{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverview.jinja" import projectOverview %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      <div class="container">
        <div class="row mb-md-0 justify-content-md-center">
          {{ projectOverview(projectData) }}
          <div class="project-overview-main">
            <h2>Overview</h2>
            <p>With guidance from the Director of Brand Design, I was tasked with evolving the K Health brand. I designed the following guidelines and all projects showcased within it.</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <img src="../static/images/work/khealth/brand/book-1.png" class="img-fluid" alt="Cover of the K Health brand book">
          </div>
        </div>

        <!-- Toolkit -->
        <div class="row">
          <div class="col">
            <img src="../static/images/work/khealth/brand/book-2.png" class="img-fluid" alt="Overview page that features fonts, colors, logos, graphic elements, photography, and iconography">
          </div>
        </div>

        <!-- Logo -->
        <div class="container">
          <div class="row mb-0">
            <div class="project-text">
              <p>As a defining feature of the K Health brand, the logo didn’t change, but I chose to narrow down the variants and limit the color options to create consistency.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md mb-4 mb-md-0">
            <img src="../static/images/work/khealth/brand/book-4.png" class="img-fluid" alt="Primary logo and colors">
          </div>
          <div class="col-12 col-md">
            <img src="../static/images/work/khealth/brand/book-5.png" class="img-fluid" alt="Icon and colors">
          </div>
        </div>

        <!-- Color Palettes -->
        <div class="row">
          <div class="col-12 col-md-6 mb-4">
            <img src="../static/images/work/khealth/brand/book-6.png" class="img-fluid" alt="Title page for the 'Color palette' section of the K Health brand book">
          </div>
          <div class="col-12 col-md-6 mb-4">
            <img src="../static/images/work/khealth/brand/book-7.png" class="img-fluid" alt="Primary colors">
          </div>
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/brand/book-8.png" class="img-fluid" alt="Secondary colors and shades">
          </div>
          <div class="col-12 col-md-6">
            <img src="../static/images/work/khealth/brand/book-9.png" class="img-fluid" alt="Tertiary colors and shades">
          </div>
        </div>

        <!-- Accessibility -->
        <div class="container">
          <div class="row mb-0">
            <div class="project-text">
              <p>K is commited to accessibility, so I included easy to read charts that allow anyone to quickly choose text colors that have enough contrast.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md mb-4 mb-md-0">
            <img src="../static/images/work/khealth/brand/book-10.png" class="img-fluid" alt="Accessible type color parings for the primary palette">
          </div>
          <div class="col-12 col-md">
            <img src="../static/images/work/khealth/brand/book-11.png" class="img-fluid" alt="Accessible type color parings for the secondary and tertiary palettes">
          </div>
        </div>

        <!-- Color Combos -->
        <div class="row">
          <div class="col-12 mb-4">
            <img src="../static/images/work/khealth/brand/book-12.png" class="img-fluid" alt="Sample gradients and instructions">  
          </div>
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/brand/book-13.png" class="img-fluid" alt="Sample color combinations">
          </div>
          <div class="col-12 col-md-6">
            <img src="../static/images/work/khealth/brand/book-14.png" class="img-fluid" alt="Sample color combinations">
          </div>
        </div>

        <div class="container">
          <div class="row mb-0">
            <div class="project-text">
              <p>I also developed a new type system in partnership with the Head of Product Design in order to create a system that works across web and app.</p>
            </div>
          </div>
        </div>

        <!-- Typography -->
        <div class="row">
          <div class="offset-md-3 offset-xl-0 col-12 col-md-6 col-xl mb-4">
            <img src="../static/images/work/khealth/brand/book-15.png" class="img-fluid" alt="Title page for the 'Typography' section of the K Health brand book">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <img src="../static/images/work/khealth/brand/book-16.png" class="img-fluid" alt="Primary typeface, Sofia Pro, and rules for usage">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <img src="../static/images/work/khealth/brand/book-17.png" class="img-fluid" alt="Display typeface, Dharma Gothic Rounded E, and rules for usage">
          </div>
          <div class="col-12 col-md-6 mb-4">
            <img src="../static/images/work/khealth/brand/book-18.png" class="img-fluid" alt="Headers in the K Health type system">
          </div>
          <div class="col-12 col-md-6 mb-4">
            <img src="../static/images/work/khealth/brand/book-19.png" class="img-fluid" alt="Body text in the K Health type system">
          </div>
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/brand/book-20.png" class="img-fluid" alt="Display headers in the K Health type system">
          </div>
          <div class="col-12 col-md-6">
            <img src="../static/images/work/khealth/brand/book-21.png" class="img-fluid" alt="Type sample for how to combine typefaces and sizes">
          </div>
        </div>

        <!-- Graphic Elements -->
        <div class="row">
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <img src="../static/images/work/khealth/brand/book-22.png" class="img-fluid" alt="Title page for the 'Graphic elements' section of the K Health brand book">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <img src="../static/images/work/khealth/brand/book-23.png" class="img-fluid" alt="Title page for the 'Dot motif' subsection of the K Health brand book">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <img src="../static/images/work/khealth/brand/book-24.png" class="img-fluid" alt="Examples of dot motif styles">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-0">
            <img src="../static/images/work/khealth/brand/book-25.png" class="img-fluid" alt="Title page for the 'K bubble' subsection of the K Health brand book">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/brand/book-26.png" class="img-fluid" alt="Examples of colors for the connected chat element">
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <img src="../static/images/work/khealth/brand/book-27.png" class="img-fluid" alt="Examples of the connected chat element in use">
          </div>
        </div>

        <div class="container">
          <div class="row mb-0">
            <div class="project-text">
              <p>I used the new palette to distinguish K’s services, and created unique dot motifs to echo the use case, like using all downward dots for the Medical Weight Management service.</p>
            </div>
          </div>
        </div>

        <!-- Services -->
        <div class="row">
          <div class="col-12 col-md-6 mb-4">
            <img src="../static/images/work/khealth/brand/book-30.png" class="img-fluid" alt="Title page for the 'Primary Care' subsection of the K Health brand book">
          </div>
          <div class="col-12 col-md-6 mb-4">
            <img src="../static/images/work/khealth/brand/book-31.png" class="img-fluid" alt="Overview of the Primary Care style rules">
          </div>
          <div class="col-12 col-md-6 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/brand/book-32.png" class="img-fluid" alt="Title page for the 'Primary Care' subsection of the K Health brand book">
          </div>
          <div class="col-12 col-md-6">
            <img src="../static/images/work/khealth/brand/book-33.png" class="img-fluid" alt="Overview of the Primary Care style rules">
          </div>
        </div>

      {{ projectPagination(projectData, previousSlug="various-icons", previousTitle="Icons & illustraitons", previousCompany="Various", nextSlug="k-health-landing-pages", nextTitle="Landing pages", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>