{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Primary Care page</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/primarycare.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Medical Weight Management page</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/weightmanagement.png" class="figure-img img-fluid" alt="Logo pages of the Pretty Instant brand book">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <!-- <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Home page</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-0">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/home.png" class="figure-img img-fluid" alt="Color pages of the Pretty Instant brand book">
            </figure>
            <figcaption class="figure-caption">
            </figcaption>
          </div>
        </div>
      </div> -->

      {{ projectPagination(projectData, previousSlug="k-health-brand", previousTitle="Brand book", previousCompany="K Health", nextSlug="k-health-emails", nextTitle="Emails", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>