{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
  {{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <div class="container">
        <div class="row mb-7">
          <div class="project-text">
            <h2>Primary Care series</h2>
            <p>2 upsell emails, 1 abandonment email, 1 appointment reminder email</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/emails/pc-1.png" class="figure-img img-fluid" alt="Interactive services page">
              </div>
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/emails/pc-2.png" class="figure-img img-fluid" alt="Portrait services page">
              </div>
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/emails/pc-abandonment.png" class="figure-img img-fluid" alt="List of services page">
              </div>
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/emails/pc-appointment.png" class="figure-img img-fluid" alt="List of services page">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Order status series</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="project-images-3">
                <img src="../static/images/work/khealth/emails/order-1.png" class="figure-img img-fluid" alt="Rough layout of the dashboard home page">
              </div>
              <div class="project-images-3">
                <img src="../static/images/work/khealth/emails/order-2.png" class="figure-img img-fluid" alt="Wireframe of the dashboard home page">
              </div>
              <div class="project-images-3">
                <img src="../static/images/work/khealth/emails/order-3.png" class="figure-img img-fluid" alt="Final design of the dashboard home page">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-md-5 col-lg-4 mb-5">
            <h2>One-off sends</h2>
            <p>Membership confirmation email resulted in:
              <ul>
                <li>51% increase in click through rates</li>
                <li>11% increase in app sessions</li>
                <li>and 78% of recipients scheduling a visit within 30 days</li>
              </ul>
            </p>
          </div>
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/emails/membership-confirmation.png" class="figure-img img-fluid" alt="Home page">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-0">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="col-12 col-md">
                <img src="../static/images/work/khealth/emails/newsletter.png" class="figure-img img-fluid" alt="Portrait services page">
              </div>
              <div class="col-12 col-md">
                <img src="../static/images/work/khealth/emails/new-year-promo.png" class="figure-img img-fluid" alt="List of services page">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>
      
      {{ projectPagination(projectData, previousSlug="k-health-landing-pages", previousTitle="Landing pages", previousCompany="K Health", nextSlug="k-health-infographics", nextTitle="Infographics", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>