{% from "head.Jinja" import head %}
{% from "scripts.Jinja" import scripts %}
{% from "navbar.Jinja" import navbar %}
{% from "footer.Jinja" import footer %}
{% from "projectHero.Jinja" import projectHero %}
{% from "projectOverviewAlt.Jinja" import projectOverviewAlt %}
{% from "projectPagination.Jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Overview</h2>
            <p>The old K Health Instagram grid was a mismatched mix of branded content and off-brand Canva templates that relied on illustration over photography. As I worked on evolving the brand, I used social as a low stakes testing ground, turning the grid into one that’s highly branded and intentionally designed, with elements that overlap between posts, and making sure to prioritize photography and people.</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col text-center">
            <img src="../static/images/work/khealth/social/profile-old.png" style="max-width: 365px;" class="figure-img img-fluid" alt="Interactive services page">
            <figcaption class="figure-caption">
              Old grid
            </figcaption>
          </div>
          <div class="col text-center">
            <img src="../static/images/work/khealth/social/profile-new.png" style="max-width: 365px;" class="figure-img img-fluid" alt="Interactive services page">
            <figcaption class="figure-caption">
              New grid
            </figcaption>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Single image posts</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="project-images-3">
                <img src="../static/images/work/khealth/social/post-poison-ivy-heat-rash.png" class="figure-img img-fluid" alt="Interactive services page">
              </div>
              <div class="project-images-3">
                <img src="../static/images/work/khealth/social/post-podcast.png" class="figure-img img-fluid" alt="Portrait services page">
              </div>
              <div class="project-images-3">
                <img src="../static/images/work/khealth/social/post-MHAM.png" class="figure-img img-fluid" alt="List of services page">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Carousel posts</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/social/carousel-caregivers.png" class="figure-img img-fluid" alt="Animation of the steps of Pretty Instant's interactive service">
              <!-- <figcaption class="figure-caption">
              </figcaption> -->
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/social/carousel-SAD.png" class="figure-img img-fluid" alt="Animation of the steps of Pretty Instant's interactive service">
              <!-- <figcaption class="figure-caption">
              </figcaption> -->
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/social/carousel-ask-the-expert.png" class="figure-img img-fluid" alt="Animation of the steps of Pretty Instant's interactive service">
              <!-- <figcaption class="figure-caption">
              </figcaption> -->
            </figure>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Stories</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="project-images-3">
                <img src="../static/images/work/khealth/social/story-high-bills.png" class="figure-img img-fluid" alt="Interactive services page">
              </div>
              <div class="project-images-3">
                <img src="../static/images/work/khealth/social/story-heatwave.png" class="figure-img img-fluid" alt="Portrait services page">
              </div>
              <div class="project-images-3">
                <img src="../static/images/work/khealth/social/story-nikeya.png" class="figure-img img-fluid" alt="List of services page">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="k-health-infographics", previousTitle="Infographics", previousCompany="K Health", nextSlug="k-health-video", nextTitle="Paid ads", nextCompany="K Health") }}
      
    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>