{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <!-- <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Process</h2>
            <p></p>
          </div>
        </div>
      </div> -->

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-1.png" class="figure-img img-fluid" alt="Cover of the K Health brand book">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>

        <!-- Toolkit -->
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-2.png" class="figure-img img-fluid" alt="Overview page that features fonts, colors, logos, graphic elements, photography, and iconography">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>


        <!-- Logo -->
        <div class="row">
          <div class="offset-md-3 offset-xl-0 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-3.png" class="figure-img img-fluid" alt="Title page for the 'Logo' section of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-4.png" class="figure-img img-fluid" alt="Primary logo and colors">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-5.png" class="figure-img img-fluid" alt="Icon and colors">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
          </figcaption> -->
        </div>

        <!-- Color Palettes -->
        <div class="row">
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-6.png" class="figure-img img-fluid" alt="Title page for the 'Color palette' section of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-7.png" class="figure-img img-fluid" alt="Primary colors">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-8.png" class="figure-img img-fluid" alt="Secondary colors and shades">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-9.png" class="figure-img img-fluid" alt="Tertiary colors and shades">
            </figure>
          </div>
        </div>

        <!-- Accessibility -->
        <div class="row">
          <div class="col-12 col-md">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-10.png" class="figure-img img-fluid" alt="Accessible type color parings for the primary palette">
            </figure>
          </div>
          <div class="col-12 col-md">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-11.png" class="figure-img img-fluid" alt="Accessible type color parings for the secondary and tertiary palettes">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
            </figcaption> -->
        </div>

        <!-- Color Combos -->
        <div class="row">
          <div class="col-12">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-12.png" class="figure-img img-fluid" alt="Sample gradients and instructions">
            </figure>
          </div>
          <div class="col-12 col-md-6 ">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-13.png" class="figure-img img-fluid" alt="Sample color combinations">
            </figure>
          </div>
          <div class="col-12 col-md-6">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-14.png" class="figure-img img-fluid" alt="Sample color combinations">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
            </figcaption> -->
        </div>

        <!-- Typography -->
        <div class="row">
          <div class="offset-md-3 offset-xl-0 col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-15.png" class="figure-img img-fluid" alt="Title page for the 'Typography' section of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-16.png" class="figure-img img-fluid" alt="Primary typeface, Sofia Pro, and rules for usage">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-17.png" class="figure-img img-fluid" alt="Display typeface, Dharma Gothic Rounded E, and rules for usage">
            </figure>
          </div>
          <div class="col-12 col-md-6">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-18.png" class="figure-img img-fluid" alt="Headers in the K Health type system">
            </figure>
          </div>
          <div class="col-12 col-md-6">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-19.png" class="figure-img img-fluid" alt="Body text in the K Health type system">
            </figure>
          </div>
          <div class="col-12 col-md-6">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-20.png" class="figure-img img-fluid" alt="Display headers in the K Health type system">
            </figure>
          </div>
          <div class="col-12 col-md-6">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-21.png" class="figure-img img-fluid" alt="Type sample for how to combine typefaces and sizes">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
            </figcaption> -->
        </div>

        <!-- Graphic Elements -->
        <div class="row">
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-22.png" class="figure-img img-fluid" alt="Title page for the 'Graphic elements' section of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-23.png" class="figure-img img-fluid" alt="Title page for the 'Dot motif' subsection of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-24.png" class="figure-img img-fluid" alt="Examples of dot motif styles">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-25.png" class="figure-img img-fluid" alt="Title page for the 'K bubble' subsection of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-26.png" class="figure-img img-fluid" alt="Examples of colors for the connected chat element">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-27.png" class="figure-img img-fluid" alt="Examples of the connected chat element in use">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
            </figcaption> -->
        </div>

        <!-- Services -->
        <div class="row mb-0">
          <div class="offset-md-3 offset-xl-0 col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-30.png" class="figure-img img-fluid" alt="Title page for the 'Services' section of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-31.png" class="figure-img img-fluid" alt="Title page for the 'Primary Care' subsection of the K Health brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/brand/book-32.png" class="figure-img img-fluid" alt="Overview of the Primary Care style rules">
            </figure>
          </div>
          <!-- <figcaption class="figure-caption">
            </figcaption> -->
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="various-icons", previousTitle="Icons & illustraitons", previousCompany="Various", nextSlug="k-health-landing-pages", nextTitle="Landing pages", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>