{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverview.jinja" import projectOverview %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      <div class="container">
        <div class="row mb-md-0 justify-content-md-center">
          {{ projectOverview(projectData) }}
          <div class="project-overview-main">
            <h2>Overview</h2>
            <p>The old K Health Instagram grid was a mismatched mix of branded content and off-brand Canva templates that relied on illustration over photography. As I worked on <a class="inline dark" href="/projects/k-health-brand">evolving the brand</a>, I used social as a low stakes testing ground, turning the grid into one that’s highly branded and intentionally designed, with elements that overlap between posts, and making sure to prioritize photography and people.</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-xl-3 text-center mb-8 mb-md-0">
            <img src="../static/images/work/khealth/social/profile-old.png" class="img-fluid max-width-365" alt="Instagram profile for K Health before rebranding">
            <p class="figure-caption">
              Old grid
            </p>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-xl-3 offset-md-2 text-center">
            <img src="../static/images/work/khealth/social/profile-new.png" class="img-fluid max-width-365" alt="Instagram profile for K Health after rebranding">
            <p class="figure-caption">
              New grid
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-0">
          <div class="project-text">
            <h2>Single image posts</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row justify-content-center">
          <div class="project-images-3 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/social/post-poison-ivy-heat-rash.png" class="img-fluid" alt="Instagram post listing the differences between poison ivy and heat rash">
          </div>
          <div class="project-images-3 mb-4 mb-md-0">
            <div style="padding:126% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/821685733?h=7c31fdb47f&autoplay=1&loop=1&badge=0&autopause=0&player_id=0&app_id=58479&muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Allon Bloch, K Health CEO, on the Speed Chagne Repeat podcast"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
          </div>
          <div class="project-images-3">
            <img src="../static/images/work/khealth/social/post-MHAM.png" class="img-fluid" alt="Instagram post with a statistic about treatment for Mental Health Awareness Month">
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-0">
          <div class="project-text">
            <h2>Carousel posts</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-6 align-items-center">
          <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
            <img src="../static/images/work/khealth/social/carousel-caregivers-1.png" class="img-fluid" alt="Title slide of an Instagram carousel post for National Caregivers Day talking about caregiver burnout">
          </div>
          <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
            <img src="../static/images/work/khealth/social/carousel-caregivers-2.png" class="img-fluid" alt="Second slide of an Instagram carousel post defining caregiver burden">
          </div>
          <div class="col-12 col-sm-6 col-lg mb-4 mb-sm-0">
            <img src="../static/images/work/khealth/social/carousel-caregivers-3.png" class="img-fluid" alt="Third slide of an Instagram carousel post listing the physical and psychological symptoms of caregiver burnout">
          </div>
          <div class="col-12 col-sm-6 col-lg">
            <img src="../static/images/work/khealth/social/carousel-caregivers-4.png" class="img-fluid" alt="Fourth slide of an Instagram carousel post with tips for balancing care for yourself and care for others">
          </div>
        </div>
        <div class="row mb-6 align-items-center">
          <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
            <img src="../static/images/work/khealth/social/carousel-SAD-1.png" class="img-fluid" alt="Title slide of an Instagram carousel post about combating seasonal affective disorder">
          </div>
          <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
            <img src="../static/images/work/khealth/social/carousel-SAD-2.png" class="img-fluid" alt="Second slide of an Instagram carousel post with tips for combating seasonal affective disorder">
          </div>
          <div class="col-12 col-sm-6 col-lg mb-4 mb-sm-0">
            <img src="../static/images/work/khealth/social/carousel-SAD-3.png" class="img-fluid" alt="Third slide of an Instagram carousel post with tips for combating seasonal affective disorder">
          </div>
          <div class="col-12 col-sm-6 col-lg">
            <img src="../static/images/work/khealth/social/carousel-SAD-4.png" class="img-fluid" alt="Fourth slide of an Instagram carousel post with tips for combating seasonal affective disorder">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="row mb-0 align-items-center">
              <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
                <img src="../static/images/work/khealth/social/carousel-ask-the-expert-1.png" class="img-fluid" alt="Title slide of an Instagram carousel post with tips for spending time with family over the holidays">
              </div>
              <div class="col-12 col-sm-6 col-lg mb-4 mb-lg-0">
                <img src="../static/images/work/khealth/social/carousel-ask-the-expert-2.png" class="img-fluid" alt="Third slide of an Instagram carousel post featuring a tip about mindfulness">
              </div>
              <div class="col-12 col-sm-6 col-lg mb-4 mb-sm-0">
                <img src="../static/images/work/khealth/social/carousel-ask-the-expert-3.png" class="img-fluid" alt="Fourth slide of an Instagram carousel post featuring a tip about seeking joy">
              </div>
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/social/carousel-ask-the-expert-4.png" class="img-fluid" alt="Sixth slide of an Instagram carousel post featuring a tip about planning to connect with people">
              </div>
            </div>
            <p class="figure-caption">
              4 selected slides of an 8 slide carousel
            </p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-0">
          <div class="project-text">
            <h2>Stories</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-0 justify-content-center">
          <div class="project-images-3 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/social/story-high-bills.png" class="img-fluid" alt="Instagram story directing people to an article about handling surprise medical bills">
          </div>
          <div class="project-images-3 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/social/story-heatwave.png" class="img-fluid" alt="Instagram story directing people to an article with tips on staying hydrated during a heatwave">
          </div>
          <div class="project-images-3">
            <img src="../static/images/work/khealth/social/story-nikeya.png" class="img-fluid" alt="Instagram story with a quote from Nikeya Alfred, K's social media manager, promoting a Black History Month initiative">
          </div>
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="k-health-infographics", previousTitle="Infographics", previousCompany="K Health", nextSlug="k-health-ads", nextTitle="Paid ads", nextCompany="K Health") }}
      
    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>