{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
  {{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <div class="container">
        <div class="row mb-7">
          <div class="project-text">
            <h2>Newsletter</h2>
            <p>Sent out bi-weekly emails, sometimes polling users and used the data for articles, social posts, and the following newsletter.</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-7">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="col-12 col-sm-6 col-md">
                <img src="../static/images/work/khealth/infographics/newsletter-sex-survey.png" class="figure-img img-fluid" alt="Desktop version of a newsletter that asked users to participate in a survey">
              </div>
              <div class="col-12 col-md-6">
                <img src="../static/images/work/khealth/infographics/typeform-sex-survey.png" class="figure-img img-fluid" alt="Desktop version of a question from the survey">
              </div>
              <div class="col-12 col-sm-6 col-md">
                <img src="../static/images/work/khealth/infographics/newsletter-sex-results.png" class="figure-img img-fluid" alt="Desktop version of a newsletter that featured an article with results from the survey">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row align-items-center justify-content-center">
          <div class="col-12 col-sm-6 col-md-4 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/infographics/social-sex-survey-1.png" class="figure-img img-fluid" alt="First slide of an Instagram carousel post that's a title for the survey results">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/infographics/social-sex-survey-2.png" class="figure-img img-fluid" alt="Second slide of an Instagram carousel post with bar charts of how often people have sex">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/infographics/social-sex-survey-3.png" class="figure-img img-fluid" alt="Third slide of an Instagram carousel post with a sunburst chart of what factors affect people's sex drive">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/infographics/social-sex-survey-4.png" class="figure-img img-fluid" alt="Fourth slide of an Instagram carousel post with bar charts of how often people masturbate">
            </figure>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-xl">
            <figure class="figure">
              <img src="../static/images/work/khealth/infographics/social-sex-survey-5.png" class="figure-img img-fluid" alt="Fifth slide of an Instagram carousel post with a bar chart of how COVID has affected people's sex lives">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/infographics/newsletter-insomnia.png" class="figure-img img-fluid" alt="Desktop version of a newsletter that featured an article about user-reported insomnia">
              </div>
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/infographics/blog-insomnia-heatmap.png" class="figure-img img-fluid rounded" alt="Heatmap of the U.S. showing where users reported having insomnia">
              </div>
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/infographics/blog-insomnia-timeline.png" class="figure-img img-fluid rounded" alt="Line chart showing a decline in sleeplessness in women and men">
              </div>
              <div class="col-12 col-sm-6 col-lg">
                <img src="../static/images/work/khealth/infographics/blog-insomnia-conditions.png" class="figure-img img-fluid rounded" alt="Sunburst chart of conditions associated with insomnia">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Social media posts</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-0">
          <div class="col">
            <div class="row mb-0 justify-content-center">
              <div class="col-12 col-md-8">
                <img src="../static/images/work/khealth/infographics/social-urgent-care.png" class="figure-img img-fluid" alt="An Instagram carousel post with one slide featuring a table listing the cost of urgent care services and the other slide with a map of the U.S. featuring the average cost of urgent care in top cities across the country">
              </div>
              <div class="col-12 col-sm-6 col-md">
                <img src="../static/images/work/khealth/infographics/social-symptoms.png" class="figure-img img-fluid" alt="Instagram post with a table comparing the symptoms of allergies and a sinus infection">
              </div>
            </div>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="k-health-emails", previousTitle="Emails", previousCompany="K Health", nextSlug="k-health-social", nextTitle="Social", nextCompany="K Health") }}

    </main>

    {{ footer() }}

    {{ scripts() }}
  </body>
</html>