{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData, hideTeam="hidden") }}

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Process</h2>
            <p>As a young company, standardized colors and logos were used, but proper brand guidelines were never written up. During a period where multiple new hires joined the team, I decided to create a brand book to keep Pretty Instant's visual language consistent across departments. The book includes the company mission statements, fonts, colors, gradients, and instructions on how to use Pretty Instant's logos and icons.</p>          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col-12 col-md-6 col-xl-4 mb-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-bupropion.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-buspirone.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-sertraline-50.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3 mb-xl-0">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-sertraline-100.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-3 mb-md-0">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-fluoxetine.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-escitalopram.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
          <figcaption class="figure-caption">
            12s ads showcasing the 6 most popular medications available through K Health
          </figcaption>
        </div>

        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/ads/mh-storyboard.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
          <figcaption class="figure-caption">
            Storyboard of a 30s version highlighting the affordability of K Health's Mental Health program
          </figcaption>
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="k-health-social", previousTitle="Social", previousCompany="K Health", nextSlug="pretty-instant-website", nextTitle="Website redesign", nextCompany="Pretty Instant") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>