{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverview.jinja" import projectOverview %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      <div class="container">
        <div class="row justify-content-md-center">
          {{ projectOverview(projectData) }}
          <div class="project-overview-main">
            <h2>Overview</h2>
            <p>To advertise K Health's Mental Health program, we created a paid social campaign consisting of six 12 second ads and three 30 second ads. The 12 second ads featured the six most popular medications prescribed by K Health. The three 30 second ads featured K's VP of Medical and each spoke to a different core benefit of the program: affordability, ease of use, and an all inclusive platform.</p>
            <p>We worked with external production partners to produce the videos. I assisted with pre-production for the shoots, which included mocking up what the ads would look like and helping choose actors. While on set, I was mainly responsible for providing direction on the lighting and framing of each shot, but also provided feedback on talent direction.</p>
            <p>In post, I provided the files for all graphics and gave direction on how they should be animated, which was exectued by our external partners.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row mb-0">
          <div class="project-text">
            <h2>12 second ads</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row justify-content-center">
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <div style="padding:112% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/821110339?h=7c31fdb47f&autoplay=1&loop=1&badge=0&autopause=0&player_id=0&app_id=58479&muted=1" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="Bupropion"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            <!-- <img src="../static/images/work/khealth/ads/mh-bupropion.png" class="img-fluid" alt="Ad for bupropion featuring a hand holding a pill, the medication name, and the K Health logo"> -->
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <img src="../static/images/work/khealth/ads/mh-buspirone.png" class="img-fluid" alt="Ad for buspirone featuring a hand holding a pill, the medication name, and the K Health logo">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4">
            <img src="../static/images/work/khealth/ads/mh-sertraline-50.png" class="img-fluid" alt="Ad for 50mg of sertraline featuring a hand holding a pill, the medication name, and the K Health logo">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4 mb-xl-0">
            <img src="../static/images/work/khealth/ads/mh-sertraline-100.png" class="img-fluid" alt="Ad for 100mg of sertraline featuring a hand holding a pill, the medication name, and the K Health logo">
          </div>
          <div class="col-12 col-md-6 col-xl-4 mb-4 mb-md-0">
            <img src="../static/images/work/khealth/ads/mh-fluoxetine.png" class="img-fluid" alt="Ad for fluoxetine featuring a hand holding a pill, the medication name, and the K Health logo">
          </div>
          <div class="col-12 col-md-6 col-xl-4">
            <img src="../static/images/work/khealth/ads/mh-escitalopram.png" class="img-fluid" alt="Ad for escitalopram featuring a hand holding a pill, the medication name, and the K Health logo">
          </div>
        </div>

        <div class="container">
          <div class="row mb-0">
            <div class="project-text">
              <h2>30 second ads</h2>
              <p>Storyboard of an ad that highlights the affordability of K Health's Mental Health program</p>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <img src="../static/images/work/khealth/ads/mh-storyboard-1.png" class="img-fluid" alt="Intro screen featuring a hand holding a buspirone pill, the medication name, and the K Health logo">
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <img src="../static/images/work/khealth/ads/mh-storyboard-2.png" class="img-fluid" alt="Dr. Edo Paz speaking with a title card to introduce him">
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <img src="../static/images/work/khealth/ads/mh-storyboard-3.png" class="img-fluid" alt="Woman opening a package with text that highlights the available medications">
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4">
            <img src="../static/images/work/khealth/ads/mh-storyboard-4.png" class="img-fluid" alt="Dr. Edo Paz speaking with text that says 'intake process, clinician visit, and pharmacy in one'">
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <img src="../static/images/work/khealth/ads/mh-storyboard-5.png" class="img-fluid" alt="A hand using the K Health app">
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
            <img src="../static/images/work/khealth/ads/mh-storyboard-6.png" class="img-fluid" alt="A woman using her phone with text that says 'no insurance needed'">
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <img src="../static/images/work/khealth/ads/mh-storyboard-1.png" class="img-fluid" alt="End screen featuring a hand holding a buspirone pill, the medication name, and the K Health logo">
          </div>
        </div>

      </div>

      {{ projectPagination(projectData, previousSlug="k-health-social", previousTitle="Social", previousCompany="K Health", nextSlug="pretty-instant-website", nextTitle="Website redesign", nextCompany="Pretty Instant") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>