{% from "head.Jinja" import head %}
{% from "scripts.Jinja" import scripts %}
{% from "navbar.Jinja" import navbar %}
{% from "footer.Jinja" import footer %}
{% from "projectHero.Jinja" import projectHero %}
{% from "projectOverviewAlt.Jinja" import projectOverviewAlt %}
{% from "projectPagination.Jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData, hideTeam="hidden") }}

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Process</h2>
            <p>As a young company, standardized colors and logos were used, but proper brand guidelines were never written up. During a period where multiple new hires joined the team, I decided to create a brand book to keep Pretty Instant's visual language consistent across departments. The book includes the company mission statements, fonts, colors, gradients, and instructions on how to use Pretty Instant's logos and icons.</p>          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row ">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/primarycare.png" class="figure-img img-fluid" alt="Intro of the Pretty Instant brand book">
            </figure>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/weightmanagement.png" class="figure-img img-fluid" alt="Logo pages of the Pretty Instant brand book">
            </figure>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-0">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/home.png" class="figure-img img-fluid" alt="Color pages of the Pretty Instant brand book">
            </figure>
          </div>
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="k-health-brand", previousTitle="Brand book", previousCompany="K Health", nextSlug="k-health-emails", nextTitle="Emails", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>