{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverviewAlt.jinja" import projectOverviewAlt %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      {{ projectOverviewAlt(projectData) }}

      <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Primary Care pages</h2>
            <p>A generic membership page with variants targeting specific conditions</p>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-7">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/primarycare.png" class="figure-img img-fluid" alt="Desktop and mobile version of a landing page for K Health's Primary Care program">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-lg mb-7 mb-lg-0">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/bloodpressure.png" class="figure-img img-fluid" alt="Desktop and mobile version of the hero section of the high blood pressure page">
            </figure>
          </div>
          <div class="col-12 col-lg">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/cholesterol.png" class="figure-img img-fluid" alt="Desktop and mobile version of the hero section of the high cholesterol page">
            </figure>
          </div>
          <figcaption class="figure-caption">
            Alternate hero sections for condition-specific versions of the pages
          </figcaption>
        </div>
      </div>

      <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Medical Weight Management page</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/weightmanagement.png" class="figure-img img-fluid" alt="Desktop and mobile version of a landing page for K Health's Medical Weight Management program">
            </figure>
            <!-- <figcaption class="figure-caption">
            </figcaption> -->
          </div>
        </div>
      </div>

      <!-- <div class="container">
        <div class="row mb-5">
          <div class="project-text">
            <h2>Home page</h2>
          </div>
        </div>
      </div>

      <div class="container-xxl">
        <div class="row mb-0">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/khealth/landingpages/home.png" class="figure-img img-fluid" alt="Desktop and mobile version of K Health's home page">
            </figure>
            <figcaption class="figure-caption">
            </figcaption>
          </div>
        </div>
      </div> -->

      {{ projectPagination(projectData, previousSlug="k-health-brand", previousTitle="Brand book", previousCompany="K Health", nextSlug="k-health-emails", nextTitle="Emails", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>