{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "cardPhoto.jinja" import cardPhoto %}

<!DOCTYPE html>
<html lang="en">
	{{ head(title="Photography", meta="Jackie Keffas is a designer and photographer based in NYC") }}

	<body class="bg-eggplant">
    {{ navbar(page="") }}
        
		<main class="container-fluid">
		  <div class="row mb-0 justify-content-md-center">
				<div class="col mb-4">
					<a class="image-popup mfp-move-horizontal" href="../static/images/photo/assorted/chelsea.jpg">
						<img src="../static/images/photo/assorted/chelsea.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/cody.jpg">
						<img src="../static/images/photo/assorted/cody.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/jake.jpg">
						<img src="../static/images/photo/assorted/jake.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col-12 col-lg-6 mb-4">
          {{ cardPhoto(projectName="mythology") }}
		    </div>
			</div>

		  <div class="row mb-0 justify-content-md-center">
		    <div class="col-12 col-lg-6 mb-4">
          {{ cardPhoto(projectName="cemeteries") }}
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/car.jpg">
						<img src="../static/images/photo/assorted/car.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/sunclub.jpg">
						<img src="../static/images/photo/assorted/sunclub.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/connorII.jpg">
						<img src="../static/images/photo/assorted/connorII.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
		  </div>

			<div class="row mb-0 justify-content-md-center">
				<div class="col mb-4 d-flex align-content-between flex-wrap order-1">
					<a class="image-popup" href="../static/images/photo/assorted/connorI.jpg">
						<img src="../static/images/photo/assorted/connorI.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/fire.jpg">
						<img src="../static/images/photo/assorted/fire.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
				<div class="col-12 col-lg-6 mb-4 order-3 order-lg-2">
          {{ cardPhoto(projectName="roommates") }}
		    </div>
				<div class="col mb-4 order-2 order-lg-3">
					<a class="image-popup" href="../static/images/photo/assorted/horses.jpg">
						<img src="../static/images/photo/assorted/horses.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
		  </div>

			<div class="row mb-0 justify-content-md-center">
				<div class="col mb-4 mb-lg-0 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/chickens.jpg">
						<img src="../static/images/photo/assorted/chickens.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/birds.jpg">
						<img src="../static/images/photo/assorted/birds.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4 mb-lg-0 ">
					<a class="image-popup" href="../static/images/photo/assorted/daniel.jpg">
						<img src="../static/images/photo/assorted/daniel.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col-12 col-lg-6">
          {{ cardPhoto(projectName="fruit") }}
		    </div>
			</div>
		</main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>