{% macro photoBreadcrumb() %}
  <div class="container-xxl breadcrumb">
    <div class="row justify-content-between">
      <div class="col-auto pagination-left">
        <a href="/photo" class="row">
          <div class="col-auto">
            <i class="bi bi-arrow-left"></i>
          </div>
          <div class="col-auto">
            <p>All photos</p>
          </div>
        </a>
      </div>
    </div>
  </div>
{% endmacro %}