{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "cardPhoto.jinja" import cardPhoto %}

<!DOCTYPE html>
<html lang="en">
	{{ head(title="Photography", meta="Jackie Keffas is a designer and photographer based in NYC") }}

	<body class="bg-eggplant">
    {{ navbar(page="") }}
        
		<main class="container-fluid">
		  <div class="row mb-0 justify-content-md-center">
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/brickhouse.jpg">
						<img src="../static/images/photo/assorted/full/brickhouse.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/full/car.jpg">
						<img src="../static/images/photo/assorted/thumb/car.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/birds.jpg">
						<img src="../static/images/photo/assorted/thumb/birds.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col-12 col-lg-6 mb-4">
          {{ cardPhoto(projectName="mythology") }}
		    </div>
			</div>

			<div class="row mb-0 justify-content-md-center">
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/full/trains.jpg">
						<img src="../static/images/photo/assorted/thumb/trains.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/stainedglass.jpg">
						<img src="../static/images/photo/assorted/thumb/stainedglass.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/full/jake.jpg">
						<img src="../static/images/photo/assorted/thumb/jake.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/fire.jpg">
						<img src="../static/images/photo/assorted/thumb/fire.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/horses.jpg">
						<img src="../static/images/photo/assorted/full/horses.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/hayley.jpg">
						<img src="../static/images/photo/assorted/full/hayley.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
			</div>

		  <div class="row mb-0 justify-content-md-center">
		    <div class="col-12 col-lg-6 mb-4">
          {{ cardPhoto(projectName="cemeteries") }}
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/full/sunclub.jpg">
						<img src="../static/images/photo/assorted/thumb/sunclub.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/olliepromax.jpg">
						<img src="../static/images/photo/assorted/thumb/olliepromax.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/institution.jpg">
						<img src="../static/images/photo/assorted/full/institution.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
		  </div>

			<div class="row mb-0 justify-content-md-center">
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/full/codyI.jpg">
						<img src="../static/images/photo/assorted/thumb/codyI.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/mountains.jpg">
						<img src="../static/images/photo/assorted/thumb/mountains.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/townhouse.jpg">
						<img src="../static/images/photo/assorted/full/townhouse.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/full/chickens.jpg">
						<img src="../static/images/photo/assorted/thumb/chickens.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/headstones.jpg">
						<img src="../static/images/photo/assorted/thumb/headstones.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/chelsea.jpg">
						<img src="../static/images/photo/assorted/full/chelsea.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
			</div>

			<div class="row mb-0 justify-content-md-center">
				<div class="col mb-4 order-1">
					<a class="image-popup" href="../static/images/photo/assorted/full/yusuf.jpg">
						<img src="../static/images/photo/assorted/full/yusuf.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
				<div class="col-12 col-lg-6 mb-4 order-3 order-lg-2">
          {{ cardPhoto(projectName="roommates") }}
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap order-2 order-lg-3">
					<a class="image-popup" href="../static/images/photo/assorted/full/connorI.jpg">
						<img src="../static/images/photo/assorted/thumb/connorI.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/leaves.jpg">
						<img src="../static/images/photo/assorted/thumb/leaves.jpg" class="img-fluid rounded" alt="">
					</a>
				</div>
		  </div>

			<div class="row mb-0 justify-content-md-center">
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/codyII.jpg">
						<img src="../static/images/photo/assorted/full/codyII.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4 d-flex align-content-between flex-wrap">
					<a class="image-popup" href="../static/images/photo/assorted/full/cemetery.jpg">
						<img src="../static/images/photo/assorted/thumb/cemetery.jpg" class="img-fluid rounded" alt="">
					</a>
					<a class="image-popup" href="../static/images/photo/assorted/full/van.jpg">
						<img src="../static/images/photo/assorted/thumb/van.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/tree.jpg">
						<img src="../static/images/photo/assorted/full/tree.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4">
					<a class="image-popup" href="../static/images/photo/assorted/full/daniel.jpg">
						<img src="../static/images/photo/assorted/full/daniel.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
			</div>

			<div class="row mb-0 justify-content-md-center">
				<div class="col mb-4 mb-lg-0">
					<a class="image-popup" href="../static/images/photo/assorted/full/railroad.jpg">
						<img src="../static/images/photo/assorted/full/railroad.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col mb-4 mb-lg-0">
					<a class="image-popup" href="../static/images/photo/assorted/full/connorII.jpg">
						<img src="../static/images/photo/assorted/full/connorII.jpg" class="img-fluid rounded" alt="">
					</a>
		    </div>
				<div class="col-12 col-lg-6">
          {{ cardPhoto(projectName="fruit") }}
		    </div>
			</div>
		</main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>