{% macro projectOverview(projectData) %}
  <div class="project-overview-sidebar">
    <div class="row">
      <div class="sidebar-item">
        <h4>Role</h4>
        <p class="small">{{ projectData.role }}</p>
      </div>
      <div class="sidebar-item">
        <h4>Stakeholders</h4>
        <p class="small">{{ projectData.stakeholders }}</p>
      </div>
      <div class="sidebar-item">
        <h4>Team</h4>
        <p class="small">{{ projectData.team }}</p>
      </div>
      <div class="sidebar-item">
        <h4>Tools</h4>
        <p class="small">{{ projectData.tools }}</p>
      </div>
      <div class="sidebar-item mb-0">
        <h4>Company</h4>
        <p class="small">{{ projectData.companyDescription }}</p>
      </div>
    </div>
  </div>
{% endmacro %}