{% from "head.jinja" import head %}
{% from "scripts.jinja" import scripts %}
{% from "navbar.jinja" import navbar %}
{% from "footer.jinja" import footer %}
{% from "projectHero.jinja" import projectHero %}
{% from "projectOverview.jinja" import projectOverview %}
{% from "projectPagination.jinja" import projectPagination %}

<!DOCTYPE html>
<html lang="en">
	{{ head(projectData) }}

  <body>
    {{ navbar() }}

    <main>
      {{ projectHero(projectData) }}

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>K Health</h2>
            <p class="small subtle">A telehealth platform, powered by clinical AI, that uses billions of data insights to help doctors make decisions and provide people with access to affordable, quality care, 24/7.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <figure class="figure">
              <img src="../static/images/work/various/icons/khealth/icons.png" class="figure-img img-fluid" alt="Icons of a wedding cake, bells, ring, champagne glasses, whistle, trophy, and jack-o-lantern">
              <!-- <figcaption class="figure-caption">
                Examples of shoot types for weddings, parties, sports, and engagements
              </figcaption> -->
            </figure>
          </div>
        </div>

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Pretty Instant</h2>
            <p class="small subtle">An end-to-end managed photography platform that handled logistics, staffing, editing, and delivery of photos for clients, and offered experiential, roaming photo booth activations.</p>
            <p>When I started working as a designer for Pretty Instant, icons were a big part of the branding. A set existed that outlined the booking process, but I often found myself needing more. I designed additional icons based off the black and white style to represent shoot types and help illustrate how Pretty Instant is better than its competitors.</p>
            <p>Inspired by the icons and using some of them, I also created badges to showcase Pretty Instant's client commitments and high Net Promoter Score.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg">
            <figure class="figure">
              <img src="../static/images/work/various/icons/prettyinstant/icons-1.png" class="figure-img img-fluid" alt="Icons of a wedding cake, bells, ring, champagne glasses, whistle, trophy, and jack-o-lantern">
              <figcaption class="figure-caption">
                Examples of shoot types for weddings, parties, sports, and engagements
              </figcaption>
            </figure>
          </div>
          <div class="col-12 col-lg">
            <figure class="figure">
              <img src="../static/images/work/various/icons/prettyinstant/icons-2.png" class="figure-img img-fluid" alt="Icons of a stack of money, envelope, and calendar">
              <figcaption class="figure-caption">
                Icons to represent competitor's high costs, excessive e-mailing, and long waits
              </figcaption>
            </figure>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="row mb-0">
              <div class="col-12 col-md">
                <img src="../static/images/work/various/icons/prettyinstant/guarantee.png" class="figure-img img-fluid" alt="Satisfaction guaranteedicon ">
              </div>
              <div class="col-12 col-md">
                <img src="../static/images/work/various/icons/prettyinstant/nps.png" class="figure-img img-fluid" alt="NPS score icon">
              </div>
            </div>
            <figcaption class="figure-caption">
              Client success badges
            </figcaption>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="project-text">
            <h2>Presskit.to</h2>
            <p class="small subtle">A portfolio web app designed to enhance professional communication within the entertainment industry by delivering curated and protected content to pitch a concise message with a single URL.</p>
            <p>During my time as an in-house designer for Presskit.to, I created a variety of icons and illustrations for things such as the user support Twitter, website, and store.</p>
            <p>The Twitter profile image I made featured the Presskit.to logo placed inside a life saver with the company's signature blue coloring.</p>
            <p>For the website, I designed icons for each of the three primary account types—personal, business, and education—to quickly highlight who benefited from using the platform.</p>
            <p>Along with its app, Presskit.to offered press kit management and white label design services, purchasable through a web store. Since the services weren't tangible products, I created illustrations to represent them in the shop.</p>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-12 col-lg text-center">
            <figure class="figure">
              <img src="../static/images/work/various/icons/presskit/support.png" class="figure-img img-fluid" alt="Support account icon">
              <figcaption class="figure-caption">
                Support account profile image
              </figcaption>
            </figure>
          </div>
          <div class="col-12 col-lg text-center">
            <figure class="figure">
              <img src="../static/images/work/various/icons/presskit/website.png" class="figure-img img-fluid" alt="Icons of a group of people, buildings, and a school">
              <figcaption class="figure-caption">
                Personal, business, and education account types for the website
              </figcaption>
            </figure>
          </div>
        </div>
        
        <div class="row mb-0">
          <div class="col text-center">
            <div class="row mb-0">
              <div class="col-12 col-lg">
                <figure class="figure">
                  <img src="../static/images/work/various/icons/presskit/store-1.png" class="figure-img img-fluid" alt="Icons of a laptop, journal, and clipboard">
                </figure>
              </div>
              <div class="col-12 col-lg">
                <figure class="figure">
                  <img src="../static/images/work/various/icons/presskit/store-2.png" class="figure-img img-fluid" alt="Icons of posters, a press release, and a gift card">
                </figure>
              </div>
            </div>
            <figcaption class="figure-caption">
              Services graphics for Presskit.to's web store
            </figcaption>
          </div>
        </div>
      </div>

      {{ projectPagination(projectData, previousSlug="pretty-instant-brochures", previousTitle="Services brochures", previousCompany="Pretty Instant", nextSlug="k-health-brand", nextTitle="Brand book", nextCompany="K Health") }}

    </main>

    {{ footer() }}

		{{ scripts() }}
	</body>
</html>